<!-- Summary -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#summary-processing">Processing summary <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="summary-processing">
       <!-- Playbacks -->
      <div class="col-xs-3">
        <div class="panel panel-primary">
          <div class="panel-heading" align="center" style="font-size: 20px">Number of received playbacks</div>
          <div class="panel-body" align="center" style="font-size: 50px; color: steelblue">{{ processing_events["playback"]|length }}</div>
        </div>
      </div>
      <!-- Datastrips -->
      <div class="col-xs-3">
        <div class="panel panel-primary">
          <div class="panel-heading" align="center" style="font-size: 20px"> Number of received datastrips</div>
          <div class="panel-body" align="center" style="font-size: 50px; color: steelblue">{{ processing_events["isp_validity_channel_1"]|length }}</div>
        </div>
      </div>
      <!-- Missing -->
      {% if isp_validity_processing_completeness_channel_1_missing|length > 0 %}
      <div class="col-xs-3">
        <div class="panel panel-danger">
          <div class="panel-heading" align="center" style="font-size: 20px">Number of missing processing</div>
          <div class="panel-body" align="center" style="font-size: 50px; color: darkred">{{ isp_validity_processing_completeness_channel_1_missing|length }}</div>
        </div>
      </div>
      {% endif %}
      <!-- Pie chart for processing status -->
        {% if processing_events["isp_validity_processing_completeness_channel_1"]|length > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center" style="font-size: 20px">Status of processing</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: steelblue"><canvas id="processing-pie-processing-status" width="400" height="300"></canvas></div>
          </div>
        </div>
        {% endif %}
    </div>
  </div>
</div>
