{% extends "panel/index.html" %}

{% set isp_validity_processing_completeness_channel_1_missing = processing_events["isp_validity_processing_completeness_channel_1"]|filter_events_by_text_value("status", "MISSING") %}

{% block content %}
<div class="row">
  <h1 class="page-header">Processing view</h1>
</div>
<!-- /.row -->
{% include "views/processing/processing_query.html" %}

<!-- Pagination -->
{% with route = "/views/processing-pages", elements = processing_events["playback_correction"], filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% include "views/processing/processing_summary_content.html" %}
{% include "views/processing/processing_content.html" %}

{% endblock %}
{% block scripts %}
{{ super() }}
{% include "views/processing/processing_scripts.html" %}
{% endblock %}
