<thead>
    <tr>
    <th>Satellite</th>
    <th>Downlink orbit</th>
    <th>Station</th>
    <th>Level</th>
    <th>Sensing orbit</th>
    <th>Datastrip status</th>
    <th>Datastrip</th>
    <th>Imaging mode</th>
    <th>Start</th>
    <th>Stop</th>
    <th>Duration (m)</th>
    <th>SAD coverage</th>
    </tr>
</thead>
<tbody>
    {% for event in events|sort(attribute="gauge.name")|sort(attribute="start") %}
    {% set processing_validity_uuids = event.eventLinks|selectattr("name", "equalto", "PROCESSING_VALIDITY")|map(attribute='event_uuid_link')|list %}
    {% set processing_validity = processing_events["processing_validity"]|selectattr("event_uuid", "in", processing_validity_uuids)|first %}
    {% set original_isp_validity_uuids = event.eventLinks|selectattr("name", "equalto", "ISP_VALIDITY")|map(attribute='event_uuid_link')|list %}
    {% set original_isp_validity = processing_events["isp_validity_channel_2"]|selectattr("event_uuid", "in", original_isp_validity_uuids)|first %}
    {% set original_playback_validity_uuids = original_isp_validity.eventLinks|selectattr("name", "equalto", "PLAYBACK_VALIDITY")|map(attribute='event_uuid_link')|list %}
    {% set original_playback_validity = processing_events["playback_validity_channel_2"]|selectattr("event_uuid", "in", original_playback_validity_uuids)|first %}
    {% set original_planned_playback_uuids = original_playback_validity.eventLinks|selectattr("name", "equalto", "PLANNED_PLAYBACK")|map(attribute='event_uuid_link')|list %}
    {% set original_planned_playback = processing_events["playback"]|selectattr("event_uuid", "in", original_planned_playback_uuids)|first %}
    {% set original_planned_playback_correction_uuid = original_planned_playback.eventLinks|selectattr("name", "equalto", "TIME_CORRECTION")|map(attribute='event_uuid_link')|first %}
    {% set satellite = event.eventTexts|selectattr("name", "equalto", "satellite")|map(attribute='value')|first|string %}
    {% set downlink_orbit = event.eventDoubles|selectattr("name", "equalto", "downlink_orbit")|map(attribute='value')|first|string %}
    {% set station = original_isp_validity.eventTexts|selectattr("name", "equalto", "reception_station")|map(attribute='value')|first|string %}
    {% set level = event.eventTexts|selectattr("name", "equalto", "level")|map(attribute='value')|first|string %}
    {% set sensing_orbit = event.eventDoubles|selectattr("name", "equalto", "sensing_orbit")|map(attribute='value')|first|int %}
    {% set imaging_mode = event.eventTexts|selectattr("name", "equalto", "imaging_mode")|map(attribute='value')|first|string %}
    {% if not imaging_mode %}
    {% set imaging_mode = "N/A" %}
    {% endif %}
    {% set status = event.eventTexts|selectattr("name", "equalto", "status")|map(attribute='value')|first|string %}
    {% if status not in ("INCOMPLETE", "COMPLETE") %}
    {% set sad_status = event.eventTexts|selectattr("name", "equalto", "sad_status")|map(attribute='value')|first|string %}
    {% if sad_status and sad_status == "MISSING" %}
    {% set status = "MISSING_SAD" %}
    {% elif sad_status and sad_status == "PARTIAL" %}
    {% set status = "PARTIAL_SAD" %}
    {% endif %}
    {% endif %}
    {% if status in ("MISSING", "MISSING_SAD", "PARTIAL_SAD") %}
    {% set status_class = "bold-red" %}
    {% elif status == "INCOMPLETE" %}
    {% set status_class = "bold-orange" %}
    {% else %}
    {% set status_class = "bold-green" %}
    {% endif %}
    {% if status in ("COMPLETE", "INCOMPLETE") %}
    {% set datastrip = event.explicitRef.explicit_ref %}
    {% set datastrip_start = processing_validity.start.isoformat() %}
    {% set datastrip_stop = processing_validity.stop.isoformat() %}
    {% set duration = (((processing_validity.stop - processing_validity.start).total_seconds()) / 60)|round(3) %}
    {% else %}
    {% set datastrip = "N/A" %}
    {% set datastrip_start = event.start.isoformat() %}
    {% set datastrip_stop = event.stop.isoformat() %}
    {% set duration = (((event.stop - event.start).total_seconds()) / 60)|round(3) %}
    {% endif %}
    {% set sad_data_uuids = original_isp_validity.eventLinks|selectattr("name", "equalto", "SAD_DATA")|map(attribute='event_uuid_link')|list %}
    {% set sad_data = processing_events["sad_data"]|selectattr("event_uuid", "in", sad_data_uuids)|first %}
    
    <!--Values-->
    <tr>
    <td>{{ satellite }}</td>
    <td><a href="/views/specific-acquisition/{{ original_planned_playback_correction_uuid }}">{{ downlink_orbit }}</a></td>
    <td>{{ station }}</td>
    <td>{{ level }}</td>
    <td>{{ sensing_orbit }}</td>
    <td><a href="/views/specific-processing/{{ original_planned_playback.event_uuid }}" class="{{ status_class }}">{{ status }}</a></td>
    <td><a href="/eboa_nav/query-event-links/{{ event.event_uuid }}">{{ datastrip }}</a></td>
    <td>{{ imaging_mode }}</td>
    <td>{{ datastrip_start }}</td>
    <td>{{ datastrip_stop }}</td>
    <td>{{ duration }}</td>
    {% if sad_data %}
    <td><a href="/eboa_nav/query-event-links/{{ sad_data.event_uuid }}">{{ sad_data.start.isoformat() ~ "_" ~ sad_data.stop.isoformat() }}</a></td>
    {% else %}
    <td>N/A</td>
    {% endif %}
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr>
    <th>Satellite</th>
    <th>Downlink orbit</th>
    <th>Station</th>
    <th>Level</th>
    <th>Sensing orbit</th>
    <th>Datastrip status</th>
    <th>Datastrip</th>
    <th>Imaging mode</th>
    <th>Start</th>
    <th>Stop</th>
    <th>Duration (m)</th>
    <th>SAD coverage</th>
    </tr>
</tfoot>
