<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#processing-on-map-section">Data processing on the map<span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="processing-on-map-section">
      <!-- Level L0 -->
      {% if processing_events["isp_validity_processing_completeness_l0_channel_1"]|length > 0 %}
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#processing-l0-on-map-section">Level 0 on the map<span class="fa fa-angle-double-down"></span></a>
            </h3>
          </div>
          <div class="panel-body panel-collapse collapse in" id="processing-l0-on-map-section">
            <div id="processing-l0-on-map">
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- Level L1A -->
      {% if processing_events["isp_validity_processing_completeness_l1a_channel_1"]|length > 0 %}
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#processing-l1a-on-map-section">Level 1A on the map<span class="fa fa-angle-double-down"></span></a>
            </h3>
          </div>
          <div class="panel-body panel-collapse collapse in" id="processing-l1a-on-map-section">
            <div id="processing-l1a-on-map">
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- Level L1B -->
      {% if processing_events["isp_validity_processing_completeness_l1b_channel_1"]|length > 0 %}
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#processing-l1b-on-map-section">Level 1B on the map<span class="fa fa-angle-double-down"></span></a>
            </h3>
          </div>
          <div class="panel-body panel-collapse collapse in" id="processing-l1b-on-map-section">
            <div id="processing-l1b-on-map">
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- Level L1C -->
      {% if processing_events["isp_validity_processing_completeness_l1c_channel_1"]|length > 0 %}
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#processing-l1c-on-map-section">Level 1C on the map<span class="fa fa-angle-double-down"></span></a>
            </h3>
          </div>
          <div class="panel-body panel-collapse collapse in" id="processing-l1c-on-map-section">
            <div id="processing-l1c-on-map">
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- Level L2A -->
      {% if processing_events["isp_validity_processing_completeness_l2a_channel_1"]|length > 0 %}
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#processing-l2a-on-map-section">Level 2A on the map<span class="fa fa-angle-double-down"></span></a>
            </h3>
          </div>
          <div class="panel-body panel-collapse collapse in" id="processing-l2a-on-map-section">
            <div id="processing-l2a-on-map">
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
