{% extends "panel/index.html" %}

<!-- Cover by SAD -->
<!-- Missing ISP_VALIDITY_PROCESSING_COMPLETENESS -->
{% set isp_validity_processing_completeness_channel_2_missing = processing_events["isp_validity_processing_completeness_channel_2"]|filter_events_by_text_value("status", "MISSING") %}
{% set isp_validity_processing_completeness_l0_channel_2_missing = processing_events["isp_validity_processing_completeness_l0_channel_2"]|filter_events_by_text_value("status", "MISSING") %}
{% set isp_validity_processing_completeness_l1a_channel_2_missing = processing_events["isp_validity_processing_completeness_l1a_channel_2"]|filter_events_by_text_value("status", "MISSING") %}
{% set isp_validity_processing_completeness_l1b_channel_2_missing = processing_events["isp_validity_processing_completeness_l1b_channel_2"]|filter_events_by_text_value("status", "MISSING") %}
{% set isp_validity_processing_completeness_l1c_channel_2_missing = processing_events["isp_validity_processing_completeness_l1c_channel_2"]|filter_events_by_text_value("status", "MISSING") %}
{% set isp_validity_processing_completeness_l2a_channel_2_missing = processing_events["isp_validity_processing_completeness_l2a_channel_2"]|filter_events_by_text_value("status", "MISSING") %}

<!-- Incomplete ISP_VALIDITY_PROCESSING_COMPLETENESS -->
{% set isp_validity_processing_completeness_channel_2_incomplete = processing_events["isp_validity_processing_completeness_channel_2"]|filter_events_by_text_value("status", "INCOMPLETE") %}
{% set isp_validity_processing_completeness_l0_channel_2_incomplete = processing_events["isp_validity_processing_completeness_l0_channel_2"]|filter_events_by_text_value("status", "INCOMPLETE") %}
{% set isp_validity_processing_completeness_l1a_channel_2_incomplete = processing_events["isp_validity_processing_completeness_l1a_channel_2"]|filter_events_by_text_value("status", "INCOMPLETE") %}
{% set isp_validity_processing_completeness_l1b_channel_2_incomplete = processing_events["isp_validity_processing_completeness_l1b_channel_2"]|filter_events_by_text_value("status", "INCOMPLETE") %}
{% set isp_validity_processing_completeness_l1c_channel_2_incomplete = processing_events["isp_validity_processing_completeness_l1c_channel_2"]|filter_events_by_text_value("status", "INCOMPLETE") %}
{% set isp_validity_processing_completeness_l2a_channel_2_incomplete = processing_events["isp_validity_processing_completeness_l2a_channel_2"]|filter_events_by_text_value("status", "INCOMPLETE") %}

<!-- Complete ISP_VALIDITY_PROCESSING_COMPLETENESS -->
{% set isp_validity_processing_completeness_channel_2_complete = processing_events["isp_validity_processing_completeness_channel_2"]|filter_events_by_text_value("status", "COMPLETE") %}
{% set isp_validity_processing_completeness_l0_channel_2_complete = processing_events["isp_validity_processing_completeness_l0_channel_2"]|filter_events_by_text_value("status", "COMPLETE") %}
{% set isp_validity_processing_completeness_l1a_channel_2_complete = processing_events["isp_validity_processing_completeness_l1a_channel_2"]|filter_events_by_text_value("status", "COMPLETE") %}
{% set isp_validity_processing_completeness_l1b_channel_2_complete = processing_events["isp_validity_processing_completeness_l1b_channel_2"]|filter_events_by_text_value("status", "COMPLETE") %}
{% set isp_validity_processing_completeness_l1c_channel_2_complete = processing_events["isp_validity_processing_completeness_l1c_channel_2"]|filter_events_by_text_value("status", "COMPLETE") %}
{% set isp_validity_processing_completeness_l2a_channel_2_complete = processing_events["isp_validity_processing_completeness_l2a_channel_2"]|filter_events_by_text_value("status", "COMPLETE") %}

<!-- Not cover by SAD -->
<!-- Missing ISP_VALIDITY_PROCESSING_COMPLETENESS -->
{% set isp_validity_processing_completeness_channel_2_missing_no_sad = isp_validity_processing_completeness_channel_2_missing|filter_events_by_text_value("sad_status", "MISSING") %}
{% set isp_validity_processing_completeness_l0_channel_2_missing_no_sad = isp_validity_processing_completeness_l0_channel_2_missing|filter_events_by_text_value("sad_status", "MISSING") %}
{% set isp_validity_processing_completeness_l1a_channel_2_missing_no_sad = isp_validity_processing_completeness_l1a_channel_2_missing|filter_events_by_text_value("sad_status", "MISSING") %}
{% set isp_validity_processing_completeness_l1b_channel_2_missing_no_sad = isp_validity_processing_completeness_l1b_channel_2_missing|filter_events_by_text_value("sad_status", "MISSING") %}
{% set isp_validity_processing_completeness_l1c_channel_2_missing_no_sad = isp_validity_processing_completeness_l1c_channel_2_missing|filter_events_by_text_value("sad_status", "MISSING") %}
{% set isp_validity_processing_completeness_l2a_channel_2_missing_no_sad = isp_validity_processing_completeness_l2a_channel_2_missing|filter_events_by_text_value("sad_status", "MISSING") %}

<!-- Partial ISP_VALIDITY_PROCESSING_COMPLETENESS -->
{% set isp_validity_processing_completeness_channel_2_partial_no_sad = isp_validity_processing_completeness_channel_2_missing|filter_events_by_text_value("sad_status", "PARTIAL") %}
{% set isp_validity_processing_completeness_l0_channel_2_partial_no_sad = isp_validity_processing_completeness_l0_channel_2_missing|filter_events_by_text_value("sad_status", "PARTIAL") %}
{% set isp_validity_processing_completeness_l1a_channel_2_partial_no_sad = isp_validity_processing_completeness_l1a_channel_2_missing|filter_events_by_text_value("sad_status", "PARTIAL") %}
{% set isp_validity_processing_completeness_l1b_channel_2_partial_no_sad = isp_validity_processing_completeness_l1b_channel_2_missing|filter_events_by_text_value("sad_status", "PARTIAL") %}
{% set isp_validity_processing_completeness_l1c_channel_2_partial_no_sad = isp_validity_processing_completeness_l1c_channel_2_missing|filter_events_by_text_value("sad_status", "PARTIAL") %}
{% set isp_validity_processing_completeness_l2a_channel_2_partial_no_sad = isp_validity_processing_completeness_l2a_channel_2_missing|filter_events_by_text_value("sad_status", "PARTIAL") %}

{% block content %}
<div class="row">
  <h1 class="page-header">Processing view</h1>
</div>
<!-- /.row -->
{% include "views/processing/processing_query.html" %}

<!-- Pagination -->
{% with route = "/views/processing-pages", elements = processing_events["planned_playback_correction"], filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% include "views/processing/processing_summary_content.html" %}
{% if processing_events["isp_validity_processing_completeness_channel_2"]|length > 0 %}
{% include "views/processing/processing_maps.html" %}
{% include "views/processing/processing_timelines.html" %}
{% include "views/processing/processing_issues_content.html" %}
{% endif %}
{% include "views/processing/processing_content.html" %}

{% endblock %}
{% block scripts %}
{{ super() }}
{% include "views/processing/processing_scripts.html" %}
{% endblock %}
