{% if isp_validity_processing_completeness_channel_1_incomplete|length > 0 or isp_validity_processing_completeness_channel_1_missing_no_sad|length > 0 or isp_validity_processing_completeness_channel_1_missing|length > 0 %}
{% set events = isp_validity_processing_completeness_channel_1_incomplete + isp_validity_processing_completeness_channel_1_missing_no_sad + isp_validity_processing_completeness_channel_1_missing %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#processing-missing" style="color:red">Missing or incomplete processing of the datastrips <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="processing-missing">
      <p>
        <b>The following table shows the missing or incomplete processing of the datastrips</b>:
      </p>
      <!--table-->
      <table width="100%" class="table table-striped table-bordered table-hover table-search" id="processing-missing-table">
        <thead>
          <tr>
            <th>Satellite</th>
            <th>Downlink orbit</th>
            <th>Station</th>
            <th>Level</th>
            <th>Sensing orbit</th>
            <th>Datastrip status</th>
            <th>Datastrip</th>
            <th>Start</th>
            <th>Stop</th>
            <th>SAD coverage</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          {% set original_isp_validity_uuids = event.eventLinks|selectattr("name", "equalto", "ISP_VALIDITY")|map(attribute='event_uuid_link')|list %}
          {% set original_isp_validity = processing_events["isp_validity_channel_1"]|selectattr("event_uuid", "in", original_isp_validity_uuids)|first %}
          {% set satellite = event.eventTexts|selectattr("name", "equalto", "satellite")|map(attribute='value')|first|string %}
          {% set downlink_orbit = event.eventDoubles|selectattr("name", "equalto", "downlink_orbit")|map(attribute='value')|first|string %}
          {% set station = original_isp_validity.eventTexts|selectattr("name", "equalto", "reception_station")|map(attribute='value')|first|string %}
          {% set level = event.eventTexts|selectattr("name", "equalto", "level")|map(attribute='value')|first|string %}
          {% set sensing_orbit = event.eventDoubles|selectattr("name", "equalto", "sensing_orbit")|map(attribute='value')|first|int %}
          {% set status = event.eventTexts|selectattr("name", "equalto", "sad_status")|map(attribute='value')|first|string %}
          {% if status and status == "MISSING" %}
          {% set status = status + "_SAD" %}
          {% else %}
          {% set status = event.eventTexts|selectattr("name", "equalto", "status")|map(attribute='value')|first|string %}
          {% endif %}
          {% if status in ("MISSING", "MISSING_SAD") %}
          {% set status_class = "bold-red" %}
          {% elif status == "INCOMPLETE" %}
          {% set status_class = "bold-orange" %}
          {% endif %}
          {% set datastrip = "N/A" %}
          {% set datastrip_start = original_isp_validity.start.isoformat() %}
          {% set datastrip_stop = original_isp_validity.stop.isoformat() %}
          {% set sad_data_uuids = original_isp_validity.eventLinks|selectattr("name", "equalto", "SAD_DATA")|map(attribute='event_uuid_link')|list %}
          {% set sad_data = processing_events["sad_data"]|selectattr("event_uuid", "in", sad_data_uuids)|first %}
          
          <!--Values-->
          <tr>
            <td>{{ satellite }}</td>
            <td>{{ downlink_orbit }}</td>
            <td>{{ station }}</td>
            <td>{{ level }}</td>
            <td>{{ sensing_orbit }}</td>
            <td><a href="/views/specific-processing/{{ original_isp_validity.event_uuid }}" class="{{ status_class }}">{{ status }}</a></td>
            <td>{{ datastrip }}</td>
            <td>{{ datastrip_start }}</td>
            <td>{{ datastrip_stop }}</td>
            <td><a href="/eboa_nav/query-event-links/{{ sad_data.event_uuid }}">{{ sad_data.start ~ "_" ~ sad_data.stop }}</a></td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Satellite</th>
            <th>Downlink orbit</th>
            <th>Station</th>
            <th>Level</th>
            <th>Sensing orbit</th>
            <th>Datastrip status</th>
            <th>Datastrip</th>
            <th>Start</th>
            <th>Stop</th>
            <th>SAD coverage</th>
          </tr>
        </tfoot>
      </table> 
    </div>
  </div>
</div>
{% endif %}
