<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#processing-timeline-section">Data processing on the timeline<span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="processing-timeline-section">
        <div id="processing-timeline">
        </div>
    </div>
  </div>
</div>
