{% if missing_playbacks|length > 0 %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#associated-acquisition-missing-acquisitions" style="color:red">Missing or partial playbacks <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="associated-acquisition-missing-acquisitions">
      <p>
        <b>The following table shows the planned playbacks which have been partially or completelly lost</b>:
      </p>
      <!--table-->
      <table width="100%" class="table table-striped table-bordered table-hover table-search" id="acquisition-missing-table">
        <thead>
          <tr>
            <th>Satellite</th>
            <th>Orbit</th>
            <th>Station</th>
            <th>Playback Type</th>
            <th>Parameters</th>
            <th>Playback Status</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Duration (s)</th>
            <th>Duration (m)</th>
            <th>Station Schedule Status</th>
            <th>DFEP Schedule Status</th>
            <th>Delta start to real acquisition</th>
            <th>Delta stop to real acquisition</th>
            <th>Delta start to station schedule</th>
            <th>Delta stop to station schedule</th>
            <th>Delta start to DFEP schedule</th>
            <th>Delta stop to DFEP schedule</th>
            <th>Plan file</th>
            <th>Details</th>
            <th>UUID</th>
          </tr>
        </thead>
        <tbody>
          {% for original_playback in missing_playbacks %}
          {% set original_playback_uuid = original_playback.event_uuid %}
          {% set corrected_playback_uuid = original_playback.eventLinks|selectattr("name", "equalto", "TIME_CORRECTION")|map(attribute='event_uuid_link')|first %}
          {% set corrected_playback = acquisition_events["playback_correction"]|selectattr("event_uuid", "equalto", corrected_playback_uuid)|first %}
          {% set playback_validity_uuid = original_playback.eventLinks|selectattr("name", "match", "PLAYBACK_VALIDITY")|map(attribute='event_uuid_link')|first %}
          {% set playback_validity = acquisition_events["playback_validity"]|selectattr("event_uuid", "equalto", playback_validity_uuid)|first %}
          <!-- DFEP, station and SRA schedule -->
          {% set dfep_schedule_event = None %}
          {% set station_schedule_event = None %}
          {% set sra_schedule_event = None %}
          {% set dfep_schedule_uuid = original_playback.eventLinks|selectattr("name", "match", "DFEP_SCHEDULE")|map(attribute='event_uuid_link')|first %}
          {% set station_schedule_uuid = original_playback.eventLinks|selectattr("name", "match", "STATION_SCHEDULE")|map(attribute='event_uuid_link')|first %}
          {% set sra_schedule_uuid = original_playback.eventLinks|selectattr("name", "match", "SLOT_REQUEST_EDRS")|map(attribute='event_uuid_link')|first %}
          <!-- DFEP schedule -->
          {% if dfep_schedule_uuid %}
          {% set dfep_schedule_event = acquisition_events["dfep_schedule"]|selectattr("event_uuid", "equalto", dfep_schedule_uuid)|first %}
          {% elif sra_schedule_uuid %}
          {% set dfep_schedule_event = acquisition_events["slot_request_edrs"]|selectattr("event_uuid", "equalto", sra_schedule_uuid)|first %}
          {% endif %}
          <!-- Station schedule -->
          {% if station_schedule_uuid %}
          {% set station_schedule_event = acquisition_events["station_schedule"]|selectattr("event_uuid", "equalto", station_schedule_uuid)|first %}
          {% elif sra_schedule_uuid %}
          {% set station_schedule_event = acquisition_events["slot_request_edrs"]|selectattr("event_uuid", "equalto", sra_schedule_uuid)|first %}
          {% endif %}
          {% set type = original_playback.eventTexts|selectattr("name", "equalto", "playback_type")|map(attribute='value')|first|string %}
          {% set satellite = original_playback.eventTexts|selectattr("name", "equalto", "satellite")|map(attribute='value')|first|string %}
          {% set orbit = original_playback.eventDoubles|selectattr("name", "equalto", "start_orbit")|map(attribute='value')|first|int %}
          {% set station = original_playback.eventTexts|selectattr("name", "equalto", "station")|map(attribute='value')|first|string %}
          {% set parameters_object = original_playback.eventObjects|selectattr("name", "equalto", "parameters")|first %}
          {% set parameters = original_playback.get_structured_values(parameters_object.position, parameters_object.parent_level, parameters_object.parent_position) %}
          <!--Playback Status-->
          {% if not playback_validity_uuid %}
          {% set playback_status = "MISSING" %}
          {% set playback_status_class = "bold-red" %}
          {% else %}
          {% set playback_status = "RECEIVED" %}
          {% set playback_status_class = "bold-green" %}
          {% set playback_completeness_channel_uuids = original_playback.eventLinks|selectattr("name", "match", "PLAYBACK_COMPLETENESS")|map(attribute='event_uuid_link')|list %}
          {% set playback_completeness_events = acquisition_events["playback_completeness_channel"]|selectattr("event_uuid", "in", playback_completeness_channel_uuids)|list %}
          {% set playback_completeness_group_by_status = playback_completeness_events|events_group_by_text_value("status") %}
          {% if "MISSING" in playback_completeness_group_by_status %}
          {% set playback_status = "PARTIAL" %}
          {% set playback_status_class = "bold-red" %}
          {% endif %}
          {% endif %}
          <!--Station schedule Status-->
          {% set station_schedule_status = "MISSING" %}
          {% set station_schedule_status_class = "bold-red" %}
          {% if station_schedule_event %}
          {% set station_schedule_status = "OK" %}
          {% set station_schedule_status_class = "bold-green" %}
          {% endif %}
          <!--DFEP schedule Status-->
          {% set dfep_schedule_status = "MISSING" %}
          {% set dfep_schedule_status_class = "bold-red" %}
          {% if dfep_schedule_event %}
          {% set dfep_schedule_status = "OK" %}
          {% set dfep_schedule_status_class = "bold-green" %}
          {% endif %}
          <!--Values-->
          <tr>
            <td>{{ satellite }}</td>
            <td>{{ orbit }}</td>
            <td>{{ station }}</td>
            <td>{{ type }}</td>
            <td>
              {% include "views/parameters.html" %}
            </td>
            <td class="{{ playback_status_class }}">{{ playback_status }}</td>
            <td>{{ corrected_playback.start.isoformat() }}</td>
            <td>{{ corrected_playback.stop.isoformat() }}</td>
            <td>{{ (corrected_playback.stop - corrected_playback.start).total_seconds()|round(3) }}</td>
            <td>{{ (((corrected_playback.stop - corrected_playback.start).total_seconds()) / 60)|round(3) }}</td>
            <td class="{{ station_schedule_status_class }}">{{ station_schedule_status }}</td>
            <td class="{{ dfep_schedule_status_class }}">{{ dfep_schedule_status }}</td>
            {% if playback_validity %}
            <td>{{ (corrected_playback.start - playback_validity.start).total_seconds()|round(3) }}</td>
            <td>{{ (corrected_playback.stop - playback_validity.stop).total_seconds()|round(3) }}</td>
            {% else %}
            <td>N/A</td>
            <td>N/A</td>
            {% endif %}
            {% if station_schedule_event %}
            <td>{{ (corrected_playback.start - station_schedule_event.start).total_seconds()|round(3) }}</td>
            <td>{{ (corrected_playback.stop - station_schedule_event.stop).total_seconds()|round(3) }}</td>
            {% else %}
            <td>N/A</td>
            <td>N/A</td>
            {% endif %}
            {% if dfep_schedule_event %}
            <td>{{ (corrected_playback.start - dfep_schedule_event.start).total_seconds()|round(3) }}</td>
            <td>{{ (corrected_playback.stop - dfep_schedule_event.stop).total_seconds()|round(3) }}</td>
            {% else %}
            <td>N/A</td>
            <td>N/A</td>
            {% endif %}
            <td><a href="/eboa_nav/query-source/{{ original_playback.source.source_uuid }}">{{ original_playback.source.name }}</a></td>
            <td><a href="/eboa_nav/query-event-links/{{ original_playback.event_uuid }}"><i class="fa fa-link"></i></a></td>
            <td>{{original_playback.event_uuid}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Satellite</th>
            <th>Orbit</th>
            <th>Station</th>
            <th>Playback Type</th>
            <th>Parameters</th>
            <th>Playback Status</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Duration (s)</th>
            <th>Duration (m)</th>
            <th>Station Schedule Status</th>
            <th>DFEP Schedule Status</th>
            <th>Delta start to real acquisition</th>
            <th>Delta stop to real acquisition</th>
            <th>Delta start to station schedule</th>
            <th>Delta stop to station schedule</th>
            <th>Delta start to DFEP schedule</th>
            <th>Delta stop to DFEP schedule</th>
            <th>Plan file</th>
            <th>Details</th>
            <th>UUID</th>
          </tr>
        </tfoot>
      </table>
      <br/>
    </div>
  </div>
</div>
{% endif %}
