{% extends "panel/index.html" %}
{% block content %}
{% set status = "UNKNOWN" %}
<div class="row">
  <h1 class="page-header">Specific acquisition view for the planned playback with UUID {{ acquisition_events["playback"][0].event_uuid }}</h1>
</div>

{% set show_gaps = True %}

<!-- /.row -->
{% include "views/acquisition/acquisition_content.html" %}
{% endblock %}

{% block scripts %}
{{ super() }}

{% set show_gaps = True %}

{% include "views/acquisition/acquisition_scripts.html" %}
{% endblock %}
