{% extends "panel/index.html" %}
{% block content %}
<div class="row">
  <h1 class="page-header">Planning view</h1>
</div>
<!-- /.row -->
<div class="row">
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#query-interface">Query interface <span class="fa fa-angle-double-down"></span></a>
        </h3>
      </div>
      <div class="panel-body panel-collapse collapse" id="query-interface">
        <ul class="nav nav-tabs responsive-tabs">
          <li class="active"><a href="#planning-query-window">Query window</a></li>
          <li><a href="#planning-sliding-window">Sliding window</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="planning-query-window">          
            <form role="form" method=post action="/views/planning">
              <div>
                <!-- Default values message -->
                <div class="row">
                  <br/>
                  <p style="margin-left:20px">
                    The default behaviour is: <br/>
                    start: now - 2 days <br/>
                    stop: now + 5 days <br/>
                    mission: S2_ <br/>
                  </p>
                </div>
                <!-- Missions -->
                {% with id = "mission_static_query" %}
                {% include "views/common/missions.html" %}
                {% endwith %}
                <br/>
                <!-- Start and stop -->
                <div class="row">
                  {% include "eboa_nav/start_stop_without_operators.html" %}
                </div>
                <!-- Orbits -->
                {% include "views/common/start_stop_orbits.html" %}
                <!-- Limit -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Limit</label>
                    <input type="text" class="form-control" style="width: 100%" name="limit" id="planning-limit" value="100"/>
                  </div>
                </div>
                <div>
                  <button id="query-submit-button" type="submit" class="btn btn-primary" style="margin-top: 12px">Query</button>
                </div>
                <div>
                  <label id="show-planning-timeline">
                    <input type="checkbox" name="show_planning_timeline" checked><span class="label-text"><b>Show planning timeline</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-planning-table-details">
                    <input type="checkbox" name="show_planning_table_details" checked><span class="label-text"><b>Show planning table details</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-planning-x-time-evolution">
                    <input type="checkbox" name="show_planning_x_time_evolution" checked><span class="label-text"><b>Show X-Time graphs showing evolution of the plan</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-planning-map">
                    <input type="checkbox" name="show_planning_map" checked><span class="label-text"><b>Show map</b></span>
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="planning-sliding-window">          
            <form role="form" method=post action="/views/sliding-planning">            
              <div>
                <!-- Default values message -->
                <div class="row">
                  <br/>
                  <p style="margin-left:20px">
                    The default behaviour is: <br/>
                    window delay: -5 days <br/>
                    window size: 7 days <br/>
                    repeat cycle: 1 minute <br/>
                    mission: S2_ <br/>
                  </p>
                </div>
                <!-- Missions -->
                {% with id = "mission_sliding_query" %}
                {% include "views/common/missions.html" %}
                {% endwith %}
                <br/>
                <!-- Delay -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Window delay (days)</label>
                    <input type="text" class="form-control" name="planning_window_delay" id="planning-window-delay"/>
                  </div>
                </div>
                <!-- Duration -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Window size (days)</label>
                    <input type="text" class="form-control" name="planning_window_size" id="planning-window-size"/>
                  </div>
                </div>
                <!-- Repeat cycle (minutes) -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Repeat cycle (minutes)</label>
                    <input type="text" class="form-control" name="planning_repeat_cycle" id="planning-repeat-cycle"/>
                  </div>
                </div>
                <div>
                  <label id="show-planning-timeline">
                    <input type="checkbox" name="show_planning_timeline" checked><span class="label-text"><b>Show planning timeline</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-planning-table-details">
                    <input type="checkbox" name="show_planning_table_details" checked><span class="label-text"><b>Show planning table details</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-planning-x-time-evolution">
                    <input type="checkbox" name="show_planning_x_time_evolution" checked><span class="label-text"><b>Show X-Time graphs showing evolution of the plan</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-planning-map">
                    <input type="checkbox" name="show_planning_map" checked><span class="label-text"><b>Show map</b></span>
                  </label>
                </div>
                <div>
                  <button id="query-submit-button" type="submit" class="btn btn-primary" style="margin-top: 12px">Query</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "views/common/header.html" %}

<!-- Pagination -->
{% set list_elements = [planning_events["playback"]["prime_events"], planning_events["imaging"]["prime_events"]] %}
{% set elements = list_elements|sort_lists_by_length|last %}

{% with route = "/views/planning-pages", elements = elements, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% set orbpre_by_units = orbpre_events|events_group_by_text_value("satellite") %}
{% set imaging_by_units = planning_events["imaging"]["prime_events"]|events_group_by_text_value("satellite") %}
{% set playback_by_units = planning_events["playback"]["prime_events"]|events_group_by_text_value("satellite") %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#planning-summary">Summary plan <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="planning-summary">
      {% if orbpre_by_units|length > 0 and (imaging_by_units|length > 0 or playback_by_units|length > 0) %}
      <div>
        <h3><u>Summary</u></h3>
      </div>

      {% for unit in (imaging_by_units|list|sort + playback_by_units|list|sort + ["S2"])|unique %}
      {% set imaging = [] %}
      {% set playback = [] %}
      {% set title = [] %}

      {% if unit == "S2" %}
      {% set list = title.append("Summary of the planned operations for all missions") %}
      {% for imaging_unit in imaging_by_units %}
      {% set list = imaging.append(imaging_by_units[imaging_unit]) %}
      {% endfor %}
      {% for playback_unit in playback_by_units %}
      {% set list = playback.append(playback_by_units[playback_unit]) %}
      {% endfor %}

      {% else %}
      {% set list = title.append("Summary of the planned operations for mission " + unit ) %}
      {% set list = imaging.append(imaging_by_units[unit]) %}
      {% set list = playback.append(playback_by_units[unit]) %}

      {% endif %}

      {% set orbpre = orbpre|flatten %}
      {% set imaging = imaging|flatten %}
      {% set playback = playback|flatten|filter_events_by_text_values("playback_type", ["NOMINAL", "REGULAR", "RT", "NRT"]) %}

      {% set imaging_by_recording = imaging|events_group_by_text_value("record_type") %}
      {% set playback_by_mean = playback|events_group_by_text_value("playback_mean") %}
      <div>
        <div>
          <h4><u>{{ title[0] }}</u></h4>
        </div>
        <table id = "summary-table-{{unit}}" align="center" class="table table-striped table-bordered table-hover table-static">
          {% set total_imaging_duration = imaging|get_timeline_duration %}
          {% set total_playback_duration = playback|get_timeline_duration %}
          <tr>
            <th>Percentage of planned RT imagings (%):</th>
            {% if "RT" in imaging_by_recording %}
            <td>{{ ((imaging_by_recording["RT"]|get_timeline_duration / total_imaging_duration) * 100)|round(3) }}</td>
            {% else %}
            <td>0.000</td>
            {% endif %}
          </tr>
          <tr>
            <th>Percentage of planned NRT imagings (%):</th>
            {% if "NRT" in imaging_by_recording %}
            <td>{{ ((imaging_by_recording["NRT"]|get_timeline_duration / total_imaging_duration) * 100)|round(3) }}</td>
            {% else %}
            <td>0.000</td>
            {% endif %}
          </tr>
          <tr>
            <th>Percentage of planned Nominal imagings (%):</th>
            {% if "NOMINAL" in imaging_by_recording %}
            <td>{{ ((imaging_by_recording["NOMINAL"]|get_timeline_duration / total_imaging_duration) * 100)|round(3) }}</td>
            {% else %}
            <td>0.000</td>
            {% endif %}
          </tr>
          <tr>
            <th>Percentage of playbacks through the X-Band (%):</th>
            {% if "XBAND" in playback_by_mean %}
            <td>{{ ((playback_by_mean["XBAND"]|get_timeline_duration / total_playback_duration) * 100)|round(3) }}</td>
            {% else %}
            <td>0.000</td>
            {% endif %}
          </tr>
          <tr>
            <th>Percentage of playbacks through the OCP (%):</th>
            {% if "OCP" in playback_by_mean %}
            <td>{{ ((playback_by_mean["OCP"]|get_timeline_duration / total_playback_duration) * 100)|round(3) }}</td>
            {% else %}
            <td>0.000</td>
            {% endif %}
          </tr>
          <tr>
            <th>Average duration of playbacks through X-Band (minutes):</th>
            {% if "XBAND" in playback_by_mean %}
            <td>{{ ((playback_by_mean["XBAND"]|get_timeline_duration / playback_by_mean["XBAND"]|length) / 60)|round(3) }}</td>
            {% else %}
            <td>0.000</td>
            {% endif %}
          </tr>
          <tr>
            <th>Average duration of playbacks through OCP (minutes):</th>
            {% if "OCP" in playback_by_mean %}
            <td>{{ ((playback_by_mean["OCP"]|get_timeline_duration / playback_by_mean["OCP"]|length) / 60)|round(3) }}</td>
            {% else %}
            <td>0.000</td>
            {% endif %}
          </tr>
        </table>
      </div>
      <!-- /.panel-body -->
      {% endfor %}
      <!-- /.row (nested) -->
      {% else %}

      <div>
        <br/>
        {% if orbpre_by_units|length == 0 and imaging_by_units|length > 0 %}
        <p id="summary-no-orbpre" style="text-indent: 1em">There is no orbit prediction information for giving correct timings.</p>
        {% else %}
        <p id="summary-no-imaging" style="text-indent: 1em">There are no imaging operations during the requested period.</p>
        {% endif %}
        <br/>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#planning-imaging-plan">Imaging plan <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="planning-imaging-plan">
      {% if orbpre_by_units|length > 0 and imaging_by_units|length > 0 %}
      <div>
        <div>
          <h3><u>Statistics</u></h3>
        </div>
        <p>
          <b>Total Average:</b> Average considering all the orbits covered by this reporting period <br/>
          <b>Net Average:</b> Average considering just those orbits where there is a planned imaging <br/>
        </p>

        {% for unit in imaging_by_units|list|sort + ["S2"] %}

        {% set orbpre = [] %}
        {% set imaging = [] %}
        {% set title = [] %}

        {% if unit == "S2" %}
        {% set list = title.append("Statistics for all missions") %}
        {% for orbpre_unit in orbpre_by_units %}
        {% set list = orbpre.append(orbpre_by_units[orbpre_unit]) %}
        {% endfor %}
        {% for imaging_unit in imaging_by_units %}
        {% set list = imaging.append(imaging_by_units[imaging_unit]) %}
        {% endfor %}

        {% else %}
        {% set list = title.append("Statistics for mission " + unit ) %}
        {% set list = orbpre.append(orbpre_by_units[unit]) %}
        {% set list = imaging.append(imaging_by_units[unit]) %}

        {% endif %}

        {% set orbpre = orbpre|flatten %}
        {% set imaging = imaging|flatten %}

        <div>
          <h4><u>{{ title[0] }}</u></h4>
        </div>
        {% set reporting_orbits = orbpre|map(attribute="eventDoubles")|flatten|selectattr("name", "equalto", "orbit")|map(attribute="value")|unique|list %}
        {% set used_orbits = imaging|map(attribute="eventDoubles")|flatten|selectattr("name", "equalto", "start_orbit")|map(attribute="value")|unique|list %}
        {% if unit != "S2" %}
        <p>
          <b>Orbits covered by the reporting period:</b> <br/>
        </p>
        <p id="imaging-reporting-orbits" style="text-indent: 1em">
          Mission {{ unit }}: {{ reporting_orbits[0]|int }} - {{ reporting_orbits[-1]|int }} ({{ reporting_orbits|length }}) <br/>
        </p>

        <p>
          <b>Orbits used to acquire sensing during the reporting period:</b> <br/>
        </p>

        <p id="imaging-used-orbits" style="text-indent: 1em">
          Mission {{ unit }}: {{ used_orbits[-1]|int }} - {{ used_orbits[0]|int }} ({{ used_orbits|length }}) <br/>
        </p>
        {% endif %}
        <p>
          <b>The following tables shows the statistics for the planned imagings</b>:
        </p>
        <table id="imaging-mode-duration-table-{{unit}}" align="center" class="table table-striped table-bordered table-hover table-static">
          <tr>
            <th>Imaging mode</th>
            <th>Duration (m)</th>
          </tr>
          {% set imaging_by_mode = imaging|events_group_by_text_value("imaging_mode") %}
          {% for imaging_mode in imaging_by_mode %}
          <tr>
            <td>{{ imaging_mode }}</td>

            <td>{{ ((imaging_by_mode[imaging_mode]|get_timeline_duration) / 60)|round(3) }}</td>
          </tr>
          {% endfor %}
        </table>
        <table id="imaging-total-duration-table-{{unit}}" align="center" class="table table-striped table-bordered table-hover table-static">
          <tr>
            <th>Total(m):</th>
            <td>{{ ((imaging|get_timeline_duration) / 60)|round(3) }}</td>
          </tr>
          <tr>
            <th>Total average(m):</th>
            <td>{{ (((imaging|get_timeline_duration) / 60) / reporting_orbits|length )|round(3) }}</td>
          </tr>
          <tr>
            <th>Net average(m):</th>
            <td>{{ (((imaging|get_timeline_duration) / 60) / used_orbits|length)|round(3) }}</td>
          </tr>
          <tr>
            <th>Minimum(m):</th>
            <td>{{ ((imaging|get_timeline_minimum_duration) / 60)|round(3) }}</td>
          </tr>
          <tr>
            <th>Maximum(m):</th>
            <td>{{ ((imaging|get_timeline_maximum_duration) / 60)|round(3) }}</td>
          </tr>
        </table>

        {% endfor %}
      </div>
      {% if show["x_time"] %}
      <div>
        <div>
          <h3><u>Graph with the evolution of the duration of the imaging operations</u></h3>
          <br/>
        </div>
        <div id="imaging-x-time-evolution">
        </div>
      </div>
      {% endif %}
      {% if show["table_details"] %}
      <div>
        <div>
          <h3><u>Table of imaging operations</u></h3>
          <br/>
        </div>
        <p>
          The following table shows the list of planned imagings for <b>all missions</b>:
          <br/>
        </p>
        <p style="text-indent: 1em">
          The times are corrected with the latest predicted orbit information available.
        </p>
        <br/>
        <br/>

        <table width="100%" class="table table-striped table-bordered table-hover table-search" id="imaging-details-table">
          <thead>
            <tr>
              <th>Satellite</th>
              <th>Orbit</th>
              <th>Start</th>
              <th>Stop</th>
              <th>Duration (s)</th>
              <th>Duration (m)</th>
              <th>Imaging mode</th>
              <th>Record type</th>
              <th>Parameters</th>
              <th>Plan file</th>
              <th>Details</th>
              <th>UUID</th>
            </tr>
          </thead>
          <tbody>
            {% for imaging in planning_events["imaging"]["prime_events"] %}
            <tr>
              {% set correction_uuid = imaging.eventLinks|selectattr("name", "equalto", "TIME_CORRECTION")|map(attribute='event_uuid_link')|first %}
              {% if correction_uuid %}
              {% set event = planning_events["imaging"]["linked_events"]|selectattr("event_uuid", "equalto", correction_uuid)|first %}
              {% else %}
              {% set event = imaging %}
              {% endif %}
              {% set satellite = imaging.eventTexts|selectattr("name", "equalto", "satellite")|map(attribute='value')|first|string %}
              <td>{{ satellite }}</td>
              {% set orbit = imaging.eventDoubles|selectattr("name", "equalto", "start_orbit")|map(attribute='value')|first|int %}
              <td>{{ orbit }}</td>
              <td>{{ event.start.isoformat() }}</td>
              <td>{{ event.stop.isoformat() }}</td>
              <td>{{ (event.stop - event.start).total_seconds()|round(3) }}</td>
              <td>{{ (((event.stop - event.start).total_seconds()) / 60)|round(3) }}</td>
              {% set imaging_mode = imaging.eventTexts|selectattr("name", "equalto", "imaging_mode")|map(attribute='value')|first|string %}
              <td>{{ imaging_mode }}</td>
              {% set record_type = imaging.eventTexts|selectattr("name", "equalto", "record_type")|map(attribute='value')|first|string %}
              <td>{{ record_type }}</td>
              {% set parameters_object = imaging.eventObjects|selectattr("name", "equalto", "parameters")|first %}
              {% set parameters = imaging.get_structured_values(parameters_object.position, parameters_object.parent_level, parameters_object.parent_position) %}
              <td>
                {% include "views/common/parameters.html" %}
              </td>
              <td><a href="/eboa_nav/query-source/{{ imaging.source.source_uuid }}">{{ imaging.source.name }}</a></td>
              <td><a href="/eboa_nav/query-event-links/{{ imaging.event_uuid }}"><i class="fa fa-link"></i></a></td>
              <td>{{ imaging.event_uuid }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Satellite</th>
              <th>Orbit</th>
              <th>Start</th>
              <th>Stop</th>
              <th>Duration (s)</th>
              <th>Duration (m)</th>
              <th>Imaging mode</th>
              <th>Record type</th>
              <th>Parameters</th>
              <th>Plan file</th>
              <th>Details</th>
              <th>UUID</th>
            </tr>
          </tfoot>
        </table>
      </div>
      {% if show["map"] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Map of footprints related to the planned imagings
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="planned-imagings-map">
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      {% endif %}      
      {% endif %}
      <!-- /.panel-body -->
      <!-- /.row (nested) -->
      {% else %}
      <div>
        <br/>
        {% if orbpre_by_units|length == 0 and imaging_by_units|length > 0 %}
        <p id="imaging-no-orbpre" style="text-indent: 1em">There is no orbit prediction information for giving correct timings.</p>
        {% else %}
        <p id="imaging-no-imaging" style="text-indent: 1em">There are no imaging operations during the requested period.</p>
        {% endif %}
        <br/>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#planning-playback-plan">Playback plan <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="planning-playback-plan">
      {% if orbpre_by_units|length > 0 and playback_by_units|length > 0 %}
      {% set schedule_stations_by_station = planning_events["station_schedule"]|events_group_by_text_value("station") %}
      <div>
        <div>
          <h3><u>Statistics</u></h3>
        </div>
        <p>
          <b>Total Average:</b> Average considering all the orbits covered by this reporting period <br/>
          <b>Net Average:</b> Average considering just those orbits where there is a planned playback <br/>
        </p>

        {% for unit in playback_by_units|list|sort + ["S2"] %}

        {% set orbpre = [] %}
        {% set playback = [] %}
        {% set title = [] %}

        {% if unit == "S2" %}
        {% set list = title.append("Statistics for all missions") %}
        {% for orbpre_unit in orbpre_by_units %}
        {% set list = orbpre.append(orbpre_by_units[orbpre_unit]) %}
        {% endfor %}
        {% for playback_unit in playback_by_units %}
        {% set list = playback.append(playback_by_units[playback_unit]) %}
        {% endfor %}

        {% else %}
        {% set list = title.append("Statistics for mission " + unit ) %}
        {% set list = orbpre.append(orbpre_by_units[unit]) %}
        {% set list = playback.append(playback_by_units[unit]) %}

        {% endif %}

        {% set orbpre = orbpre|flatten %}
        {% set playback = playback|flatten|filter_events_by_text_values("playback_type", ["NOMINAL", "REGULAR", "RT", "NRT"]) %}

        {% set playbacks_no_station_schedule = playback|reject_events_with_link_name("STATION_SCHEDULE")|list %}
        {% set playbacks_by_station = {} %}
        {% if playbacks_no_station_schedule %}
        {% do playbacks_by_station.update({"N/A": playbacks_no_station_schedule}) %}
        {% endif %}
        {% for station in schedule_stations_by_station %}
        {% set associated_playback_uuids = schedule_stations_by_station[station]|map(attribute="eventLinks")|flatten|selectattr("name", "in", ["PLANNED_PLAYBACK"])|map(attribute="event_uuid_link")|list %}
        {% set associated_playbacks = playback|selectattr("event_uuid", "in", associated_playback_uuids)|list %}
        {% do playbacks_by_station.update({station: associated_playbacks}) %}
        {% endfor %}
        
        <div>
          <h4><u>{{ title[0] }}</u></h4>
        </div>
        {% set reporting_orbits = orbpre|map(attribute="eventDoubles")|flatten|selectattr("name", "equalto", "orbit")|map(attribute="value")|unique|list %}
        {% set used_orbits = playback|map(attribute="eventDoubles")|flatten|selectattr("name", "equalto", "start_orbit")|map(attribute="value")|unique|list %}
        {% if unit != "S2" %}
        <p>
          <b>Orbits covered by the reporting period:</b> <br/>
        </p>
        <p id="playback-reporting-orbits" style="text-indent: 1em">
          Mission {{ unit }}: {{ reporting_orbits[0]|int }} - {{ reporting_orbits[-1]|int }} ({{ reporting_orbits|length }}) <br/>
        </p>

        <p>
          <b>Orbits used to acquire sensing during the reporting period:</b> <br/>
        </p>

        <p id="playback-used-orbits" style="text-indent: 1em">
          Mission {{ unit }}: {{ used_orbits[-1]|int }} - {{ used_orbits[0]|int }} ({{ used_orbits|length }}) <br/>
        </p>
        {% endif %}
        <p>
          <b>The following table shows the statistics for the planned playbacks per orbit and station</b>:
        </p>
        <table id="playback-station-duration-{{unit}}" align="center" class="table table-striped table-bordered table-hover table-static">
          <tr>
            <th>Station</th>
            <th>Total Average Duration (m)</th>
            <th>Net Average Duration (m)</th>
            <th>Minimum Duration (m)</th>
            <th>Maximum Duration (m)</th>
          </tr>
          {% for station in playbacks_by_station %}
          {% set used_orbits = playbacks_by_station[station]|map(attribute="eventDoubles")|flatten|selectattr("name", "equalto", "start_orbit")|map(attribute="value")|unique|list %}
          <tr>
            <td class="highlight">{{ station }}</td>

            <td>{{ (((playbacks_by_station[station]|get_timeline_duration) / 60) / reporting_orbits|length )|round(3) }}</td>
            <td>{{ (((playbacks_by_station[station]|get_timeline_duration) / 60) / used_orbits|length )|round(3) }}</td>
            <td>{{ ((playbacks_by_station[station]|get_timeline_minimum_duration) / 60)|round(3) }}</td>
            <td>{{ ((playbacks_by_station[station]|get_timeline_maximum_duration) / 60)|round(3) }}</td>
          </tr>
          {% endfor %}
        </table>
        <p>
          <b>The following table shows the statistics for the planned playbacks per orbit</b>:
        </p>
        <table id="playback-total-duration-{{unit}}" align="center" class="table table-striped table-bordered table-hover table-static">
          <tr>
            <th>Total(m):</th>
            <td>{{ ((playback|get_timeline_duration) / 60)|round(3) }}</td>
          </tr>
          <tr>
            <th>Total average(m):</th>
            <td>{{ (((playback|get_timeline_duration) / 60) / reporting_orbits|length )|round(3) }}</td>
          </tr>
          <tr>
            <th>Net average(m):</th>
            <td>{{ (((playback|get_timeline_duration) / 60) / used_orbits|length)|round(3) }}</td>
          </tr>
          <tr>
            <th>Minimum(m):</th>
            <td>{{ ((playback|get_timeline_minimum_duration) / 60)|round(3) }}</td>
          </tr>
          <tr>
            <th>Maximum(m):</th>
            <td>{{ ((playback|get_timeline_maximum_duration) / 60)|round(3) }}</td>
          </tr>
        </table>

        {% endfor %}
      </div>
      {% set playbacks_no_station_schedule = planning_events["playback"]["prime_events"]|reject_events_with_link_name("STATION_SCHEDULE")|list %}
      {% if playbacks_no_station_schedule %}
      <div id="playback-not-covered">
        <div>
          <h3 style="color:red"><u>Table of playbacks not covered by any ground station schedule</u></h3>
          <br/>
        </div>
        <p>
          The following table shows the list of planned playbacks <b style="color:red"> not covered by any ground station schedule</b> for <b>all missions</b>:
          <br/>
        </p>
        <p style="text-indent: 1em">
          The times are corrected with the latest predicted orbit information available.
        </p>
        <br/>
        <br/>

        <table width="100%" class="table table-striped table-bordered table-hover table-search" id="playback-not-covered-table">
          <thead>
            <tr>
              <th>Satellite</th>
              <th>Orbit</th>
              <th>Start</th>
              <th>Stop</th>
              <th>Duration (s)</th>
              <th>Duration (m)</th>
              <th>Playback type</th>
              <th>Parameters</th>
              <th>Plan file</th>
              <th>Details</th>
              <th>UUID</th>
            </tr>
          </thead>
          <tbody>
            {% for playback in playbacks_no_station_schedule %}
            <tr>
              {% set correction_uuid = playback.eventLinks|selectattr("name", "equalto", "TIME_CORRECTION")|map(attribute='event_uuid_link')|first %}
              {% if correction_uuid %}
              {% set event = planning_events["playback"]["linked_events"]|selectattr("event_uuid", "equalto", correction_uuid)|first %}
              {% else %}
              {% set event = playback %}
              {% endif %}
              {% set satellite = playback.eventTexts|selectattr("name", "equalto", "satellite")|map(attribute='value')|first|string %}
              <td>{{ satellite }}</td>
              {% set orbit = playback.eventDoubles|selectattr("name", "equalto", "start_orbit")|map(attribute='value')|first|int %}
              <td>{{ orbit }}</td>
              <td><b style="color:red">{{ event.start.isoformat() }}</b></td>
              <td><b style="color:red">{{ event.stop.isoformat() }}</b></td>
              <td>{{ (event.stop - event.start).total_seconds()|round(3) }}</td>
              <td>{{ (((event.stop - event.start).total_seconds()) / 60)|round(3) }}</td>
              {% set playback_type = playback.eventTexts|selectattr("name", "equalto", "playback_type")|map(attribute='value')|first|string %}
              <td>{{ playback_type }}</td>
              {% set parameters_object = playback.eventObjects|selectattr("name", "equalto", "parameters")|first %}
              {% set parameters = playback.get_structured_values(parameters_object.position, parameters_object.parent_level, parameters_object.parent_position) %}
              <td>
                {% include "views/common/parameters.html" %}
              </td>
              <td><a href="/eboa_nav/query-source/{{ playback.source.source_uuid }}">{{ playback.source.name }}</a></td>
              <td><a href="/eboa_nav/query-event-links/{{ playback.event_uuid }}"><i class="fa fa-link"></i></a></td>
              <td>{{ playback.event_uuid }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Satellite</th>
              <th>Orbit</th>
              <th>Start</th>
              <th>Stop</th>
              <th>Duration (s)</th>
              <th>Duration (m)</th>
              <th>Playback type</th>
              <th>Parameters</th>
              <th>Plan file</th>
              <th>Details</th>
              <th>UUID</th>
            </tr>
          </tfoot>
        </table>
      </div>
      {% endif %}

      {% if show["x_time"] %}
      <div>
        <div>
          <h3><u>Graph with the evolution of the duration of the playback operations for MSI</u></h3>
          <br/>
        </div>
        <div id="playback-x-time-evolution">
        </div>
      </div>
      {% endif %}

      {% if show["table_details"] %}
      <div>
        <h3><u>Table of playback operations</u></h3>
        <br/>
      </div>
      <p>
        The following table shows the list of planned playbacks for <b>all missions</b>:
        <br/>
      </p>
      <p style="text-indent: 1em">
        The times are corrected with the latest predicted orbit information available.
      </p>
      <p style="text-indent: 1em">
        The playbacks are linked to its corresponding station using the station or DFEP schedule information.
      </p>
      <br/>
      <br/>

      <table width="100%" class="table table-striped table-bordered table-hover table-search" id="playback-details-table">
        <thead>
          <tr>
            <th>Satellite</th>
            <th>Orbit</th>
            <th>Station</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Duration (s)</th>
            <th>Duration (m)</th>
            <th>Playback type</th>
            <th>Parameters</th>
            <th>Plan file</th>
            <th>Details</th>
            <th>UUID</th>
          </tr>
        </thead>
        <tbody>
          {% for playback in planning_events["playback"]["prime_events"] %}
          <tr>
            {% set correction_uuid = playback.eventLinks|selectattr("name", "equalto", "TIME_CORRECTION")|map(attribute='event_uuid_link')|first %}
            {% if correction_uuid %}
            {% set event = planning_events["playback"]["linked_events"]|selectattr("event_uuid", "equalto", correction_uuid)|first %}
            {% else %}
            {% set event = playback %}
            {% endif %}
            {% set station = "N/A" %}
            {% set station_schedule_uuid = playback.eventLinks|selectattr("name", "equalto", "STATION_SCHEDULE")|map(attribute='event_uuid_link')|first %}
            {% if station_schedule_uuid %}
            {% set station_schedule = planning_events["station_schedule"]|selectattr("event_uuid", "equalto", station_schedule_uuid)|first %}
            {% set station = station_schedule.eventTexts|selectattr("name", "equalto", "station")|map(attribute='value')|first|string %}
            {% endif %}
            {% set satellite = playback.eventTexts|selectattr("name", "equalto", "satellite")|map(attribute='value')|first|string %}
            <td>{{ satellite }}</td>
            {% set orbit = playback.eventDoubles|selectattr("name", "equalto", "start_orbit")|map(attribute='value')|first|int %}
            <td>{{ orbit }}</td>
            <td>{{ station }}</td>
            <td>{{ event.start.isoformat() }}</td>
            <td>{{ event.stop.isoformat() }}</td>
            <td>{{ (event.stop - event.start).total_seconds()|round(3) }}</td>
            <td>{{ (((event.stop - event.start).total_seconds()) / 60)|round(3) }}</td>
            {% set playback_type = playback.eventTexts|selectattr("name", "equalto", "playback_type")|map(attribute='value')|first|string %}
            <td>{{ playback_type }}</td>
            {% set parameters_object = playback.eventObjects|selectattr("name", "equalto", "parameters")|first %}
            {% set parameters = playback.get_structured_values(parameters_object.position, parameters_object.parent_level, parameters_object.parent_position) %}
            <td>
              {% include "views/common/parameters.html" %}
            </td>
            <td><a href="/eboa_nav/query-source/{{ playback.source.source_uuid }}">{{ playback.source.name }}</a></td>
            <td><a href="/eboa_nav/query-event-links/{{ playback.event_uuid }}"><i class="fa fa-link"></i></a></td>
            <td>{{ playback.event_uuid }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Satellite</th>
            <th>Orbit</th>
            <th>Station</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Duration (s)</th>
            <th>Duration (m)</th>
            <th>Playback type</th>
            <th>Parameters</th>
            <th>Plan file</th>
            <th>Details</th>
            <th>UUID</th>
          </tr>
        </tfoot>
      </table>
      <br/>
      {% if show["map"] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Map of footprints related to the planned playbacks
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="planned-playbacks-map">
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      {% endif %}
      {% endif %}
      <!-- /.panel-body -->
      <!-- /.row (nested) -->
      {% else %}
      <div>
        <br/>
        {% if orbpre_by_units|length == 0 and playback_by_units|length > 0 %}
        <p id="playback-no-orbrpe" style="text-indent: 1em">There is no orbit prediction information for giving correct timings.</p>
        {% else %}
        <p id="playback-no-playback" style="text-indent: 1em">There are no playback operations during the requested period.</p>
        {% endif %}
        <br/>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% if show["timeline"] %}
<!-- /.planning-view -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#planning-timeline">Timeline of the planning <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="planning-timeline">
      {% if planning_events["imaging"]["prime_events"]|length == 0 and planning_events["playback"]["prime_events"]|length == 0 %}
      <div id="planning_timeline">
        <p id="timeline-no-planning">There are no planning events during the requested period.</p>
      </div>
      {% else %}
      <div id="planning_timeline">
      </div>
      {% endif %}
    </div>
    <!-- /.panel-body -->
  </div>
</div>
{% endif %}
<!-- /.panel -->
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
  {% include "js/planning/planning_functions.js" %}
  {% if show["timeline"] and (planning_events["imaging"]["prime_events"]|length > 0 or planning_events["playback"]["prime_events"]|length > 0) %}
  {% with events = planning_events["imaging"]["prime_events"] %}
  {% include "js/planning/imaging_planning_to_timeline.js" %}
  {% endwith %}
  {% with events = planning_events["playback"]["prime_events"] %}
  {% include "js/planning/playback_planning_to_timeline.js" %}
  {% endwith %}

  var imaging_timeline_events = imaging_events;
  var playback_timeline_events = playback_events;

  var events = imaging_timeline_events.concat(playback_timeline_events)

  var groups = [];
  var items = [];

  vboa.prepare_events_data_for_timeline(events, items, groups);

  vboa.display_timeline("planning_timeline", items, groups);
  {% endif %}
  {% if show["x_time"] and (planning_events["imaging"]["prime_events"]|length > 0 or planning_events["playback"]["prime_events"]|length > 0) %}
  {% with events = planning_events["imaging"]["prime_events"] %}
  {% include "js/planning/imaging_planning_to_xy.js" %}
  {% endwith %}

  var groups = [];
  var items = [];

  var imaging_xy_events = imaging_events;

  var options = vboa.prepare_events_data_for_xy(imaging_xy_events, items, groups, "Duration of imaging operation (m)");

  vboa.display_x_time("imaging-x-time-evolution", items, groups, options);

  {% set msi_playbacks = planning_events["playback"]["prime_events"]|filter_events_by_text_values("playback_type", ["NOMINAL", "REGULAR", "RT", "NRT"]) %}
  {% with events = msi_playbacks %}
  {% include "js/planning/playback_planning_to_xy.js" %}
  {% endwith %}

  var groups = [];
  var items = [];

  var playback_xy_events = playback_events;

  var options = vboa.prepare_events_data_for_xy(playback_xy_events, items, groups, "Duration of playback operation (m)");

  vboa.display_x_time("playback-x-time-evolution", items, groups, options);

  {% endif %}
  
  {% if show["map"] and planning_events["imaging"]["prime_events"]|length > 0 %}

  {% with events = planning_events["imaging"]["prime_events"] %}
  {% include "js/planning/imaging_planning_to_map.js" %}
  {% endwith %}
  var polygons = [];
  vboa.prepare_events_geometries_for_map(imaging_geometries, polygons);
  vboa.display_map("planned-imagings-map", polygons);  

  {% with events = planning_events["playback"]["prime_events"] %}
  {% include "js/planning/playback_planning_to_map.js" %}
  {% endwith %}
  var polygons = [];
  vboa.prepare_events_geometries_for_map(playback_geometries, polygons);
  vboa.display_map("planned-playbacks-map", polygons);  

  
  {% endif %}
  {% if sliding_window %}
  var parameters = {
  "window_delay": "{{ sliding_window['window_delay'] }}",
  "window_size": "{{ sliding_window['window_size'] }}",
  "mission": "{{ sliding_window['mission'] }}"
  }
  var repeat_cycle = {{ sliding_window['repeat_cycle'] }}
  vboa.update_view(parameters, repeat_cycle, "/views/sliding-planning-parameters");
  {% endif %}
  
</script>
{% endblock %}
