<thead>
    <tr>
    <th>Satellite</th>
    <th>Level</th>
    <th>Sensing orbit</th>
    <th>Datastrip status</th>
    <th>Datastrip</th>
    <th>Imaging mode</th>
    <th>Start</th>
    <th>Stop</th>
    </tr>
</thead>
<tbody>
    {% for event in events|sort(attribute="gauge.name")|sort(attribute="start") %}
    {% set planned_cut_imaging_uuids = event.eventLinks|selectattr("name", "equalto", "PLANNED_IMAGING")|map(attribute='event_uuid_link')|list %}
    {% set planned_cut_imaging = datatake_completeness_events["planned_cut_imaging"]|selectattr("event_uuid", "in", planned_cut_imaging_uuids)|first %}
    {% set satellite = event.eventTexts|selectattr("name", "equalto", "satellite")|map(attribute='value')|first|string %}
    {% set level = event.eventTexts|selectattr("name", "equalto", "level")|map(attribute='value')|first|string %}
    {% if not level %}
    {% set level = "N/A" %}
    {% endif %}
    {% set imaging_mode = event.eventTexts|selectattr("name", "equalto", "imaging_mode")|map(attribute='value')|first|string %}
    {% if not imaging_mode %}
    {% set imaging_mode = "N/A" %}
    {% endif %}
    {% set status = event.eventTexts|selectattr("name", "equalto", "status")|map(attribute='value')|first|string %}
    {% if status == "MISSING" %}
    {% set orbit = event.eventDoubles|selectattr("name", "equalto", "start_orbit")|map(attribute='value')|first|int %}
    {% set status_class = "bold-red" %}
    {% elif status == "INCOMPLETE" %}
    {% set orbit = "N/A" %}
    {% set status_class = "bold-orange" %}
    {% else %}
    {% set status_class = "bold-green" %}
    {% set orbit = event.eventDoubles|selectattr("name", "equalto", "sensing_orbit")|map(attribute='value')|first|int %}
    {% endif %}
    {% if status in ("COMPLETE", "INCOMPLETE") %}
    {% set datastrip = event.explicitRef.explicit_ref %}
    {% else %}
    {% set datastrip = "N/A" %}
    {% endif %}
    {% set datastrip_start = event.start.isoformat() %}
    {% set datastrip_stop = event.stop.isoformat() %}
    
    <!--Values-->
    <tr>
    <td>{{ satellite }}</td>
    <td>{{ level }}</td>
    <td>{{ orbit }}</td>
    <td><a href="/views/specific-datatake-completeness/{{ planned_cut_imaging.event_uuid }}" class="{{ status_class }}">{{ status }}</a></td>
    <td><a href="/eboa_nav/query-event-links/{{ event.event_uuid }}">{{ datastrip }}</a></td>
    <td>{{ imaging_mode }}</td>
    <td>{{ datastrip_start }}</td>
    <td>{{ datastrip_stop }}</td>
    </tr>
{% endfor %}
</tbody>
<tfoot>
    <tr>
    <th>Satellite</th>
    <th>Level</th>
    <th>Sensing orbit</th>
    <th>Datastrip status</th>
    <th>Datastrip</th>
    <th>Imaging mode</th>
    <th>Start</th>
    <th>Stop</th>
    </tr>
</tfoot>
