{% if show["timeline"] %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#datatake-completeness-timeline-section">Data-take completeness on the timeline<span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="datatake-completeness-timeline-section">
        <div id="datatake-completeness-timeline">
        </div>
    </div>
  </div>
</div>
{% endif %}