{% if type_of_table == "COMPLETE" or status != "OK" %}
<tr>
  <td>{{ level }}</td>
  <td>{{ satellite }}</td>
  <td><a href="/eboa_nav/query-event-links/{{ original_imaging_uuid }}">{{ orbit }}</a></td>
  <td>{{ datastrip_start }}</td>
  <td>{{ datastrip_stop }}</td>
  {% if datastrip_link %}
  <td><a href="/eboa_nav/query-er-links/{{ datastrip_uuid }}">{{ datastrip }}</a></td>
  {% else %}
  <td>{{ datastrip }}</td>
  {% endif %}
  <td><a class="{{ status_class }}" href="/views/dhus-completeness-by-datatake/{{ corrected_imaging.event_uuid }}">{{ status }}</a></td>
  <td>{{ number_of_tiles }}</td>
  <td>{{ number_of_tiles_in_dam }}</td>
  <td>{{ number_of_tiles_in_dhus }}</td>
  <td>{{ mean_time_to_dhus }}</td>
  <td>{{ corrected_imaging.start.isoformat() }}</td>
  <td>{{ corrected_imaging.stop.isoformat() }}</td>
</tr>
{% endif %}
