<div class="row">
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#query-interface">Query interface <span class="fa fa-angle-double-down"></span></a>
        </h3>
      </div>
      <div class="panel-body panel-collapse collapse" id="query-interface">
        <ul class="nav nav-tabs responsive-tabs">
          <li class="active"><a href="#dhus-completeness-query-window">Query window</a></li>
          <li><a href="#dhus-completeness-sliding-window">Sliding window</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="dhus-completeness-query-window">
            <form role="form" method=post action="/views/dhus-completeness">
              <div>
                <!-- Default values message -->
                <div class="row">
                  <br/>
                  <p style="margin-left:20px">
                    The default behaviour is: <br/>
                    start: now - 1 day <br/>
                    stop: now <br/>
                    mission: S2_ <br/>
                    levels: ALL <br/>
                  </p>
                </div>
                <!-- Missions -->
                {% with id = "mission_static_query" %}
                {% include "views/common/missions.html" %}
                {% endwith %}
                <!-- Levels -->
                {% with id = "levels-static-query" %}
                {% include "views/dhus_completeness/levels.html" %}
                {% endwith %}
                <br/>
                <!-- Start and stop -->
                <div class="row">
                  {% include "eboa_nav/start_stop_without_operators.html" %}
                </div>
                <!-- Orbits -->
                {% include "views/common/start_stop_orbits.html" %}
                <!-- Limit -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Limit</label>
                    <input type="text" class="form-control" style="width: 100%" name="limit" id="dhus-completeness-limit" value="5"/>
                  </div>
                </div>
                <div>
                  <button id="query-submit-button" type="submit" class="btn btn-primary" style="margin-top: 12px">Query</button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="dhus-completeness-sliding-window">
            <form role="form" method=post action="/views/sliding-dhus-completeness">
              <div>
                <!-- Default values message -->
                <div class="row">
                  <br/>
                  <p style="margin-left:20px">
                    The default behaviour is: <br/>
                    window delay: 0 days <br/>
                    window size: 1 days <br/>
                    repeat cycle: 1 minute <br/>
                    mission: S2_ <br/>
                    levels: ALL <br/>
                  </p>
                </div>
                <!-- Missions -->
                {% with id = "mission_sliding_query" %}
                {% include "views/common/missions.html" %}
                {% endwith %}
                <!-- Levels -->
                {% with id = "levels-sliding-query" %}
                {% include "views/dhus_completeness/levels.html" %}
                {% endwith %}
                <br/>
                <!-- Delay -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Window delay (days)</label>
                    <input type="text" class="form-control" name="dhus_completeness_window_delay" id="dhus-completeness-window-delay"/>
                  </div>
                </div>
                <!-- Duration -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Window size (days)</label>
                    <input type="text" class="form-control" name="dhus_completeness_window_size" id="dhus-completeness-window-size"/>
                  </div>
                </div>
                <!-- Repeat cycle (minutes) -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Repeat cycle (minutes)</label>
                    <input type="text" class="form-control" name="dhus_completeness_repeat_cycle" id="dhus-completeness-repeat-cycle"/>
                  </div>
                </div>
                <div>
                  <button id="query-submit-button" type="submit" class="btn btn-primary" style="margin-top: 12px">Query</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "views/common/header.html" %}

<!-- Pagination -->
{% with route = "/views/dhus-completeness-pages", elements = info["imaging"], filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

<!-- Summary -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#summary-dhus-completeness">HKTM workflow status summary <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="summary-dhus-completeness">
      <div class="row">
        <div class="col-xs-3">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center" style="font-size: 20px">Expected acquired MSI duration (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: steelblue" id="summary-dhus-completeness-expected-msi">{{ expected_acquisition_duration }}</div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="font-size: 20px">Acquired MSI duration (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: green" id="summary-dhus-completeness-acquired-msi">{{ (expected_acquisition_duration - missing_acquisition_duration)|round(3) }}</div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="font-size: 20px">Processed MSI duration up to L1C (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: green" id="summary-dhus-completeness-processed-to-l1c-msi">{{ (expected_acquisition_duration - missing_l1c_processing_duration)|round(3) }}</div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="font-size: 20px">Processed MSI duration up to L2A (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: green" id="summary-dhus-completeness-processed-to-l2a-msi">{{ (expected_acquisition_duration - missing_l2a_processing_duration)|round(3) }}</div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="font-size: 20px">Generated L1C tiles</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: green" id="summary-dhus-completeness-generated-l1c-tiles">{{ generated_l1c_tiles }}</div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="font-size: 20px">Generated L2A tiles</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: green" id="summary-dhus-completeness-generated-l2a-tiles">{{ generated_l2a_tiles }}</div>
          </div>
        </div>
        {% if missing_acquisition_duration > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing acquired MSI duration (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-acquistion">{{ missing_acquisition_duration }}</div>
          </div>
        </div>
        {% endif %}
        {% if missing_l1c_processing_duration > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing processing MSI duration up to L1C (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-processing-l1c">{{ missing_l1c_processing_duration }}</div>
          </div>
        </div>
        {% endif %}
        {% if missing_l2a_processing_duration > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing processing MSI duration up to L2A (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-processing-l2a">{{ missing_l2a_processing_duration }}</div>
          </div>
        </div>
        {% endif %}
        {% if missing_l1c_tiles_in_dam_annotation_uuids > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing L1C tiles not published in DAM</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-l1c-tiles-in-dam">{{ missing_l1c_tiles_in_dam_annotation_uuids }}</div>
          </div>
        </div>
        {% endif %}
        {% if missing_l2a_tiles_in_dam_annotation_uuids > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing L2A tiles not published in DAM</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-l2a-tiles-in-dam">{{ missing_l2a_tiles_in_dam_annotation_uuids }}</div>
          </div>
        </div>
        {% endif %}
        {% if missing_l1c_tiles_in_dhus_annotation_uuids > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing L1C tiles not published in DHUS</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-l1c-tiles-in-dhus">{{ missing_l1c_tiles_in_dhus_annotation_uuids }}</div>
          </div>
        </div>
        {% endif %}
        {% if missing_l2a_tiles_in_dhus_annotation_uuids > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing L2A tiles not published in DHUS</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-l2a-tiles-in-dhus">{{ missing_l2a_tiles_in_dhus_annotation_uuids }}</div>
          </div>
        </div>
        {% endif %}
      </div>        
    </div>
  </div>
</div>

{% if info["imaging_correction"]|length > 0 %}

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#dhus-completeness-list">Data availability in DHUS <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="dhus-completeness-list">
      <p>
        <b>The following table shows the status of the publication of data in DHUS from planning</b>:
      </p>
      <a data-toggle="collapse" data-parent="#accordion" href="#dhus-completeness-columns-help-list"><b>Columns help:</b> <span class="fa fa-angle-double-down"></span></a>
      <div class="panel-body panel-collapse collapse" id="dhus-completeness-columns-help-list">
        {% include "views/dhus_completeness/dhus_completeness_columns_help.html" %}
      </div>
      <!--table-->
      <table width="100%" class="table table-striped table-bordered table-hover table-search" id="dhus-completeness-list-table">
        <thead>
          <tr>
            <th colspan="6">Imaging acquisition information</th>
            <th colspan="6">Tile information</th>
            <th colspan="3">Datastrip information</th>
          </tr>
          <tr>
            <th>Level</th>
            <th>Satellite</th>
            <th>Orbit</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Status</th>
            <th>Tile</th>
            <th>DAM Publication time</th>
            <th>Sensing to DAM (m)</th>
            <th>DHUS Dissemination time</th>
            <th>DAM to DHUS (m)</th>
            <th>DHUS Product name</th>
            <th>Datastrip</th>
            <th>Start</th>
            <th>Stop</th>
          </tr>
        </thead>
        <tbody>
          {% for corrected_imaging in info["imaging_correction"] %}
          {% set original_imaging_uuid = corrected_imaging.eventLinks|selectattr("name", "equalto", "PLANNED_EVENT")|map(attribute="event_uuid_link")|first %}
          {% set original_imaging = info["imaging"]|selectattr("event_uuid", "equalto", original_imaging_uuid)|first %}
          {% set satellite = original_imaging.eventTexts|selectattr("name", "equalto", "satellite")|map(attribute="value")|first|string %}
          {% set orbit = original_imaging.eventDoubles|selectattr("name", "equalto", "start_orbit")|map(attribute="value")|first|int|string %}
          {% set processing_completeness_uuids = original_imaging.eventLinks|selectattr("name", "equalto", "PROCESSING_COMPLETENESS")|map(attribute="event_uuid_link")|list %}
          {% set isp_completeness_uuids = original_imaging.eventLinks|selectattr("name", "equalto", "ISP_COMPLETENESS")|map(attribute="event_uuid_link")|list %}

          {% for level in levels %}
          {% set processing_completeness_events = info["processing_completeness"][level]|selectattr("event_uuid", "in", processing_completeness_uuids)|list %}
          {% set isp_completeness_events = info["isp_completeness"]|selectattr("event_uuid", "in", isp_completeness_uuids)|list %}
          
          {% if processing_completeness_events|length == 0 and isp_completeness_events|length == 0 %}
          {% set tile = "N/A" %}
          {% set dhus_product_name = "N/A" %}
          {% set dam_publication_time = "N/A" %}
          {% set sensing_to_dam = "N/A" %}
          {% set dhus_dissemination_time = "N/A" %}
          {% set dam_to_dhus = "N/A" %}
          {% set datastrip = "N/A" %}
          {% set datastrip_start = corrected_imaging.start.isoformat() %}
          {% set datastrip_stop = corrected_imaging.stop.isoformat() %}
          {% set status_class = "bold-red" %}
          {% if isp_completeness_events|length == 0 %}
          {% set status = "MISSING ACQUISITION" %}
          {% else %}
          {% set status = "MISSING PROCESSING" %}
          {% endif %}

          {% include "views/dhus_completeness/dhus_completeness_content_table_rows.html" %}

          {% elif processing_completeness_events|length == 0 and isp_completeness_events|length > 0 %}
          
          {% for isp_completeness in isp_completeness_events|sort(attribute="start", reverse=True) %}
          
          {% set isp_completeness_status = isp_completeness.eventTexts|selectattr("name", "equalto", "status")|map(attribute="value")|first|string %}

          {% set tile = "N/A" %}
          {% set dhus_product_name = "N/A" %}
          {% set dam_publication_time = "N/A" %}
          {% set sensing_to_dam = "N/A" %}
          {% set dhus_dissemination_time = "N/A" %}
          {% set dam_to_dhus = "N/A" %}
          {% set datastrip = "N/A" %}
          {% set datastrip_start = isp_completeness.start.isoformat() %}
          {% set datastrip_stop = isp_completeness.stop.isoformat() %}
          {% set status_class = "bold-red" %}

          {% if isp_completeness_status == "MISSING" %}
          {% set status = "MISSING ACQUISITION" %}
          {% else %}
          {% set status = "MISSING PROCESSING" %}
          {% endif %}

          {% include "views/dhus_completeness/dhus_completeness_content_table_rows.html" %}

          {% endfor %}

          {% else %}

          {% for processing_completeness in processing_completeness_events|sort(attribute="start", reverse=True) %}

          {% set processing_completeness_status = processing_completeness.eventTexts|selectattr("name", "equalto", "status")|map(attribute="value")|first|string %}
          {% if processing_completeness_status == "MISSING" %}
          {% set tile = "N/A" %}
          {% set dhus_product_name = "N/A" %}
          {% set dam_publication_time = "N/A" %}
          {% set sensing_to_dam = "N/A" %}
          {% set dhus_dissemination_time = "N/A" %}
          {% set dam_to_dhus = "N/A" %}
          {% set datastrip = "N/A" %}
          {% set datastrip_start = processing_completeness.start.isoformat() %}
          {% set datastrip_stop = processing_completeness.stop.isoformat() %}
          {% set status_class = "bold-red" %}
          {% set status = "MISSING PROCESSING" %}
          
          {% include "views/dhus_completeness/dhus_completeness_content_table_rows.html" %}
          
          {% else %}

          {% set tile_uuids = processing_completeness.explicitRef.explicitRefLinks|selectattr("name", "equalto", "TILE")|map(attribute="explicit_ref_uuid_link")|list %}

          {% set tile_infos = info["tls"][level]|selectattr("explicit_ref_uuid", "in", tile_uuids)|list %}

          {% for tile_info in tile_infos %}

          {% set tile_uuid = tile_info.explicit_ref_uuid %}
          {% set tile = tile_info.explicit_ref %}
          {% set tile_link = True %}
          {% set dam_publication_annotations = tile_info.annotations|selectattr("annotationCnf.name", "equalto", "CATALOGING_TIME")|list %}
          {% set dhus_dissemination_annotations = tile_info.annotations|selectattr("annotationCnf.name", "equalto", "DHUS_DISSEMINATION_TIME")|list %}
          {% set dhus_product_annotation = tile_info.annotations|selectattr("annotationCnf.name", "equalto", "USER_PRODUCT")|first %}
          {% set datastrip = processing_completeness.explicitRef.explicit_ref %}
          {% set datastrip_uuid = processing_completeness.explicitRef.explicit_ref_uuid %}
          {% set datastrip_link = True %}
          {% set datastrip_start = processing_completeness.start.isoformat() %}
          {% set datastrip_stop = processing_completeness.stop.isoformat() %}

          {% set dam_publication_status = dam_publication_annotations|map(attribute="annotationTexts")|flatten|selectattr("name", "equalto", "status")|map(attribute="value")|first %}
          {% set dhus_dissemination_status = dhus_dissemination_annotations|map(attribute="annotationTexts")|flatten|selectattr("name", "equalto", "status")|map(attribute="value")|first %}
          
          {% if dhus_dissemination_annotations|length > 0 and "MISSING" != dhus_dissemination_status  %}
          {% set status_class = "bold-green" %}
          {% set status = "OK" %}
          {% elif dam_publication_annotations|length > 0 and "MISSING" != dam_publication_status %}
          {% set status_class = "bold-red" %}
          {% set status = "MISSING DHUS DISSEMINATION" %}
          {% else %}
          {% set status_class = "bold-red" %}
          {% set status = "MISSING DAM PUBLICATION" %}
          {% endif %}

          {% if dam_publication_annotations|length > 0 and "MISSING" != dam_publication_status  %}
          {% set dam_publication_time_datetime = dam_publication_annotations|map(attribute="annotationTimestamps")|flatten|selectattr("name", "equalto", "cataloging_time")|map(attribute="value")|sort|first %}
          {% set dam_publication_time = dam_publication_time_datetime|string %}
          {% set sensing_to_dam = ((dam_publication_time_datetime - corrected_imaging.start).total_seconds() / 60)|round(3) %}
          {% else %}
          {% set dam_publication_time = "N/A" %}
          {% set sensing_to_dam = "N/A" %}
          {% endif %}

          {% if dhus_dissemination_annotations|length > 0 and "MISSING" != dhus_dissemination_status  %}
          {% set dhus_dissemination_time_datetime = dhus_dissemination_annotations|map(attribute="annotationTimestamps")|flatten|selectattr("name", "equalto", "dhus_dissemination_time")|map(attribute="value")|sort|first %}
          {% set dhus_dissemination_time = dhus_dissemination_time_datetime|string %}
          {% if dam_publication_annotations|length > 0 and "MISSING" != dam_publication_status  %}
          {% set dam_to_dhus = ((dhus_dissemination_time_datetime - dam_publication_time_datetime).total_seconds() / 60)|round(3) %}
          {% else %}
          {% set dam_to_dhus = "N/A" %}
          {% endif %}
          {% else %}
          {% set dhus_dissemination_time = "N/A" %}
          {% set dam_to_dhus = "N/A" %}
          {% endif %}

          {% if dhus_product_annotation %}
          {% set dhus_product_name = dhus_product_annotation.annotationTexts|selectattr("name", "equalto", "product_name")|map(attribute="value")|first|string %}
          {% else %}
          {% set dhus_product_name = "N/A" %}
          {% endif %}

          {% include "views/dhus_completeness/dhus_completeness_content_table_rows.html" %}

          {% endfor %}
          
          {% endif %}

          {% endfor %}
          
          {% endif %}
          {% endfor %}
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Level</th>
            <th>Satellite</th>
            <th>Orbit</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Status</th>
            <th>Tile</th>
            <th>DAM Publication time</th>
            <th>Sensing to DAM (m)</th>
            <th>DHUS Dissemination time</th>
            <th>DAM to DHUS (m)</th>
            <th>DHUS Product name</th>
            <th>Datastrip</th>
            <th>Start</th>
            <th>Stop</th>
          </tr>
        </tfoot>
      </table>
      <br/>
    </div>
  </div>
</div>

{% else %}

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#dhus-completeness-no-expected-dissemination">Data availability in DHUS <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="dhus-completeness-no-expected-dissemination">
      <p>
        There are no expected disseminations to DHUS.
      </p>
    </div>
  </div>
</div>

{% endif %}
