<p style="font-size:14px;">
  <u><b>Status:</b></u><br/>
  - <b class="bold-green">OK</b>: Tile was disseminated to DHUS<br/>
  - <b class="bold-red">MISSING DHUS DISSEMINATION</b>: Tile was not disseminated to DHUS<br/>
  - <b class="bold-red">MISSING DAM PUBLICATION</b>: Tile was not published in DAM<br/>
  - <b class="bold-red">MISSING PROCESSING</b>: Production related to the planned acquisition was not generated<br/>
  - <b class="bold-red">MISSING ACQUISITION</b>: Data related to the planned acquisition was not received<br/>
  <u><b>Sensing to DAM (m):</b></u> time between the sensing start and the time when the product was published in DAM<br/>
  <u><b>DAM to DHUS (m):</b></u> time between the publication in DAM of the product and the dissemination to DHUS<br/>
</p>
