<p style="font-size:14px;">
  <u><b>Status:</b></u><br/>
  - <b class="bold-green">OK</b>: All tiles were published in DHUS<br/>
  - <b class="bold-red">MISSING DHUS PUBLICATION</b>: All tiles were disseminated to DHUS but there are missing publications in DHUS<br/>
  - <b class="bold-red">MISSING DHUS DISSEMINATION</b>: All tiles were catalogued but there are missing disseminations to DHUS<br/>
  - <b class="bold-red">MISSING DAM PUBLICATION</b>: All tiles were generated but any of them were disseminated to DHUS and some of them were not catalogued<br/>
  - <b class="bold-red">MISSING PROCESSING</b>: Production related to the planned acquisition was not generated<br/>
  <u><b># tiles:</b></u> number of tiles generated<br/>
  <u><b># tiles in DAM:</b></u> number of tiles published in DAM<br/>
  <u><b># tiles in DHUS:</b></u> number of tiles disseminated to DHUS<br/>
  <u><b>Mean time to DHUS pick-up point (m):</b></u> time between the sensing stop and the time when the product was disseminated to DHUS<br/>
  <u><b>Mean time to DHUS publication (m):</b></u> time between the sensing stop and the time when the product was published on DHUS<br/>
</p>
