<!-- Query -->
{% include "views/dhus_completeness/dhus_completeness_query.html" %}

{% include "views/common/header.html" %}

<!-- Pagination -->
{% with route = "/views/dhus-completeness-pages", elements = info["imaging_correction_limit"], filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

<!-- Summary -->
{% include "views/dhus_completeness/dhus_completeness_summary.html" %}

{% if info["imaging_correction"]|length > 0 %}

<!-- Maps -->
{% include "views/dhus_completeness/dhus_completeness_maps.html" %}

<!-- Table with missing disseminations -->
{% set type_of_table = "MISSING" %}
{% include "views/dhus_completeness/dhus_completeness_content_table.html" %}

<!-- Complete table -->
{% set type_of_table = "COMPLETE" %}
{% include "views/dhus_completeness/dhus_completeness_content_table.html" %}

{% else %}

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#dhus-completeness-no-expected-dissemination">Data availability in DHUS <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="dhus-completeness-no-expected-dissemination">
      <p>
        There are no expected disseminations to DHUS.
      </p>
    </div>
  </div>
</div>

{% endif %}
