<!-- Summary -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#summary-dhus-completeness">Data availability in DHUS summary <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="summary-dhus-completeness">
      <div class="row">
        <div class="col-xs-3">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center" style="font-size: 20px">Expected acquired MSI duration (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: steelblue" id="summary-dhus-completeness-expected-msi">{{ expected_acquisition_duration }}</div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="font-size: 20px">Acquired MSI duration (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: green" id="summary-dhus-completeness-acquired-msi">{{ (expected_acquisition_duration_from_isp_completeness - missing_acquisition_duration)|round(3) }}</div>
          </div>
        </div>
        {% if "L1C" in parsed_levels[0] %}
        <div class="col-xs-3">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="font-size: 20px">Processed MSI duration up to L1C (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: green" id="summary-dhus-completeness-processed-to-l1c-msi">{{ (expected_processing_duration["L1C"] - missing_processing_duration["L1C"])|round(3) }}</div>
          </div>
        </div>
        {% endif %}
        {% if "L2A" in parsed_levels[0] %}
        <div class="col-xs-3">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="font-size: 20px">Processed MSI duration up to L2A (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: green" id="summary-dhus-completeness-processed-to-l2a-msi">{{ (expected_processing_duration["L2A"] - missing_processing_duration["L2A"])|round(3) }}</div>
          </div>
        </div>
        {% endif %}
        {% if "L1C" in parsed_levels[0] %}
        <div class="col-xs-3">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="font-size: 20px">Generated L1C tiles</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: green" id="summary-dhus-completeness-generated-l1c-tiles">{{ generated_tiles["L1C"] }}</div>
          </div>
        </div>
        {% endif %}
        {% if "L2A" in parsed_levels[0] %}
        <div class="col-xs-3">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="font-size: 20px">Generated L2A tiles</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: green" id="summary-dhus-completeness-generated-l2a-tiles">{{ generated_tiles["L2A"] }}</div>
          </div>
        </div>
        {% endif %}
        {% if missing_acquisition_duration > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing acquired MSI duration (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-acquistion">{{ missing_acquisition_duration }}</div>
          </div>
        </div>
        {% endif %}
        {% if "L1C" in parsed_levels[0] and missing_processing_duration["L1C"] > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing processing MSI duration up to L1C (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-processing-l1c">{{ missing_processing_duration["L1C"] }}</div>
          </div>
        </div>
        {% endif %}
        {% if "L2A" in parsed_levels[0] and missing_processing_duration["L2A"] > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing processing MSI duration up to L2A (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-processing-l2a">{{ missing_processing_duration["L2A"] }}</div>
          </div>
        </div>
        {% endif %}
        {% if "L1C" in parsed_levels[0] and missing_tiles_in_dam["L1C"] > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing L1C tiles not published in DAM</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-l1c-tiles-in-dam">{{ missing_tiles_in_dam["L1C"] }}</div>
          </div>
        </div>
        {% endif %}
        {% if "L2A" in parsed_levels[0] and missing_tiles_in_dam["L2A"] > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing L2A tiles not published in DAM</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-l2a-tiles-in-dam">{{ missing_tiles_in_dam["L2A"] }}</div>
          </div>
        </div>
        {% endif %}
        {% if "L1C" in parsed_levels[0] and missing_tiles_in_dhus["L1C"] > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing dissemination of L1C tiles to DHUS</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-l1c-tiles-in-dhus">{{ missing_tiles_in_dhus["L1C"] }}</div>
          </div>
        </div>
        {% endif %}
        {% if "L2A" in parsed_levels[0] and missing_tiles_in_dhus["L2A"] > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing dissemination of L2A tiles to DHUS</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-l2a-tiles-in-dhus">{{ missing_tiles_in_dhus["L2A"] }}</div>
          </div>
        </div>
        {% endif %}
        {% if "L1C" in parsed_levels[0] and missing_publication_tiles_in_dhus["L1C"] > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing publication of L1C tiles to DHUS</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-l1c-tiles-published-in-dhus">{{ missing_publication_tiles_in_dhus["L1C"] }}</div>
          </div>
        </div>
        {% endif %}
        {% if "L2A" in parsed_levels[0] and missing_publication_tiles_in_dhus["L2A"] > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing publication of L2A tiles to DHUS</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-l2a-tiles-published-in-dhus">{{ missing_publication_tiles_in_dhus["L2A"] }}</div>
          </div>
        </div>
        {% endif %}
      </div>        
    </div>
  </div>
</div>
