{% extends "panel/index.html" %}
{% block content %}
{% set status = "UNKNOWN" %}
<div class="row">
  <h1 class="page-header">Archive data volumes view</h1>
</div>
<!-- /.row -->
<div class="row">
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#query-interface">Query interface <span class="fa fa-angle-double-down"></span></a>
        </h3>
      </div>
      <div class="panel-body panel-collapse collapse" id="query-interface">
        <ul class="nav nav-tabs responsive-tabs">
          <li class="active"><a href="#archive-data-volumes-query-window">Query window</a></li>
          <li><a href="#archive-data-volumes-sliding-window">Sliding window</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="archive-data-volumes-query-window">
            <form role="form" method=post action="/views/archive-data-volumes">
              <div>
                <!-- Default values message -->
                <div class="row">
                  <br/>
                  <p style="margin-left:20px">
                    The default behaviour is: <br/>
                    start: now - 100 minutes <br/>
                    stop: now <br/>
                    mission: S2_ <br/>
                  </p>
                </div>
                <!-- Missions -->
                {% with id = "mission_static_query" %}
                {% include "views/common/missions.html" %}
                {% endwith %}
                <br/>
                <!-- Start and stop -->
                <div class="row">
                  {% include "eboa_nav/start_stop_without_operators.html" %}
                </div>
                <!-- Orbits -->
                {% include "views/common/start_stop_orbits.html" %}
                <!-- Limit -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Limit</label>
                    <input type="text" class="form-control" style="width: 100%" name="limit" id="archive-data-volumes-limit" value="100"/>
                  </div>
                </div>
                <div>
                  <button id="query-submit-button" type="submit" class="btn btn-primary" style="margin-top: 12px">Query</button>
                </div>
                <div>
                  <label id="show-archive-data-volumes-table-details">
                    <input type="checkbox" name="show_archive_data_volumes_table_details" checked><span class="label-text"><b>Show data volumes table details</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-archive-data-volumes-evolution">
                    <input type="checkbox" name="show_archive_data_volumes_evolution" checked><span class="label-text"><b>Show evolution graphs</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-archive-data-volumes-map">
                    <input type="checkbox" name="show_archive_data_volumes_map" checked><span class="label-text"><b>Show map</b></span>
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="archive-data-volumes-sliding-window">
            <form role="form" method=post action="/views/sliding-archive-data-volumes">
              <div>
                <!-- Default values message -->
                <div class="row">
                  <br/>
                  <p style="margin-left:20px">
                    The default behaviour is: <br/>
                    window delay: 0 days <br/>
                    window size: 100 minutes <br/>
                    repeat cycle: 1 minute <br/>
                    mission: S2_ <br/>
                  </p>
                </div>
                <!-- Missions -->
                {% with id = "mission_sliding_query" %}
                {% include "views/common/missions.html" %}
                {% endwith %}
                <br/>
                <!-- Delay -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Window delay (days)</label>
                    <input type="text" class="form-control" name="archive_data_volumes_window_delay" id="archive-data-volumes-window-delay"/>
                  </div>
                </div>
                <!-- Duration -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Window size (days)</label>
                    <input type="text" class="form-control" name="archive_data_volumes_window_size" id="archive-data-volumes-window-size"/>
                  </div>
                </div>
                <!-- Repeat cycle (minutes) -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Repeat cycle (minutes)</label>
                    <input type="text" class="form-control" name="archive_data_volumes_repeat_cycle" id="archive-data-volumes-repeat-cycle"/>
                  </div>
                </div>
                <div>
                  <button id="query-submit-button" type="submit" class="btn btn-primary" style="margin-top: 12px">Query</button>
                </div>
                <!-- Limit -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Limit</label>
                    <input type="text" class="form-control" style="width: 100%" name="limit" id="archive-data-volumes-limit" value="100"/>
                  </div>
                </div>                
                <div>
                  <label id="show-archive-data-volumes-table-details">
                    <input type="checkbox" name="show_archive_data_volumes_table_details" checked><span class="label-text"><b>Show data volumes table details</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-archive-data-volumes-evolution">
                    <input type="checkbox" name="show_archive_data_volumes_evolution" checked><span class="label-text"><b>Show evolution graphs</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-archive-data-volumes-map">
                    <input type="checkbox" name="show_archive_data_volumes_map" checked><span class="label-text"><b>Show map</b></span>
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "views/common/header.html" %}

<!-- Pagination -->
{% with route = "/views/archive-data-volumes-pages", elements = datastrip_events, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

<!-- Description -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#archive-data-volumes-description">Description <span class="fa fa-angle-double-down"></span></a>      
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="archive-data-volumes-description">    
      <p>
        <b>
          This view gets the datastrips which processing timings are covered by the requested period.
          </br>
          The information of the data volume is obtained through the REP_ARC files.
        </b>
      </p>
    </div>
  </div>
</div>

{% with datastrip_events = datastrip_events %}
{% include "views/data_volumes/data_volumes.html" %}
{% endwith %}

{% endblock %}

{% block scripts %}
{{ super() }}
{% with datastrip_events = datastrip_events %}
{% include "views/data_volumes/data_volumes_script.html" %}
{% endwith %}
{% endblock %}
