{% extends "base.html" %}
{% block side_panel_plugins %}
<li>
  <a href="#"><i class="fa fa-file-text-o fa-fw"></i> S2 reporting<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a href="/views/planning"><i class="fa fa-calendar"></i> Planning</a>
      <a href="/views/data-allocation"><i class="fa fa-database"></i> Data allocation</a>
      <a href="/views/tle-workflow"><i class="fa fa-crosshairs"></i> TLE workflow</a>
      <a href="/views/tracking"><i class="fa fa-map-marker"></i> Tracking</a>
      <a href="/views/acquisition"><i class="fa fa-bolt"></i> Acquisition</a>
      <a href="/views/datatake-completeness"><i class="fa fa-file-image-o"></i> Datatake completeness</a>
      <a href="/views/processing"><i class="fa fa-microchip"></i> Processing</a>
      <a href="/views/detailed-processing-timeliness"><i class="fa fa-clock-o"></i> Detailed processing timeliness</a>
      <a href="/views/hktm-workflow"><i class="fa fa-heartbeat"></i> HKTM workflow</a>
      <a href="/views/dhus-completeness"><i class="fa fa-pie-chart fa-fw"></i> Data availability in DHUS</a>
      <a href="/views/sensing-data-volumes"><i class="fa fa-sitemap"></i> Sensing data volumes</a>
      <a href="/views/archive-data-volumes"><i class="fa fa-sitemap"></i> Archive data volumes</a>
    </li>
  </ul>
  <!-- /.nav-second-level -->
</li>
{% endblock %}
