{% extends "panel/index.html" %}
{% block content %}
{% set status = "UNKNOWN" %}
<div class="row">
  <h1 class="page-header">Data size view</h1>
</div>
<!-- /.row -->
<div class="row">
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#query-interface">Query interface <span class="fa fa-angle-double-down"></span></a>
        </h3>
      </div>
      <div class="panel-body panel-collapse collapse" id="query-interface">
        <ul class="nav nav-tabs responsive-tabs">
          <li class="active"><a href="#data-size-query-window">Query window</a></li>
          <li><a href="#data-size-sliding-window">Sliding window</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="data-size-query-window">
            <form role="form" method=post action="/views/data-size">
              <div>
                <!-- Default values message -->
                <div class="row">
                  <br/>
                  <p style="margin-left:20px">
                    The default behaviour is: <br/>
                    start: now - 100 minutes <br/>
                    stop: now <br/>
                    mission: S2_ <br/>
                  </p>
                </div>
                <!-- Missions -->
                {% with id = "mission_static_query" %}
                {% include "views/common/missions.html" %}
                {% endwith %}
                <br/>
                <!-- Start and stop -->
                <div class="row">
                  {% include "eboa_nav/start_stop_without_operators.html" %}
                </div>
                <!-- Orbits -->
                {% include "views/common/start_stop_orbits.html" %}
                <!-- Limit -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Limit</label>
                    <input type="text" class="form-control" style="width: 100%" name="limit" id="data-size-limit" value="100"/>
                  </div>
                </div>
                <div>
                  <button id="query-submit-button" type="submit" class="btn btn-primary" style="margin-top: 12px">Query</button>
                </div>
                <div>
                  <label id="show-data-size-table-details">
                    <input type="checkbox" name="show_data_size_table_details" checked><span class="label-text"><b>Show data size table details</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-data-size-evolution">
                    <input type="checkbox" name="show_data_size_evolution" checked><span class="label-text"><b>Show evolution graphs</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-data-size-map">
                    <input type="checkbox" name="show_data_size_map" checked><span class="label-text"><b>Show map</b></span>
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="data-size-sliding-window">
            <form role="form" method=post action="/views/sliding-data-size">
              <div>
                <!-- Default values message -->
                <div class="row">
                  <br/>
                  <p style="margin-left:20px">
                    The default behaviour is: <br/>
                    window delay: 0 days <br/>
                    window size: 100 minutes <br/>
                    repeat cycle: 1 minute <br/>
                    mission: S2_ <br/>
                  </p>
                </div>
                <!-- Missions -->
                {% with id = "mission_sliding_query" %}
                {% include "views/common/missions.html" %}
                {% endwith %}
                <br/>
                <!-- Delay -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Window delay (days)</label>
                    <input type="text" class="form-control" name="data_size_window_delay" id="data-size-window-delay"/>
                  </div>
                </div>
                <!-- Duration -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Window size (days)</label>
                    <input type="text" class="form-control" name="data_size_window_size" id="data-size-window-size"/>
                  </div>
                </div>
                <!-- Repeat cycle (minutes) -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Repeat cycle (minutes)</label>
                    <input type="text" class="form-control" name="data_size_repeat_cycle" id="data-size-repeat-cycle"/>
                  </div>
                </div>
                <div>
                  <button id="query-submit-button" type="submit" class="btn btn-primary" style="margin-top: 12px">Query</button>
                </div>
                <!-- Limit -->
                <div class="row">
                  <div class="col-xs-3">
                    <label>Limit</label>
                    <input type="text" class="form-control" style="width: 100%" name="limit" id="data-size-limit" value="100"/>
                  </div>
                </div>                
                <div>
                  <label id="show-data-size-table-details">
                    <input type="checkbox" name="show_data_size_table_details" checked><span class="label-text"><b>Show data size table details</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-data-size-evolution">
                    <input type="checkbox" name="show_data_size_evolution" checked><span class="label-text"><b>Show evolution graphs</b></span>
                  </label>
                </div>
                <div>
                  <label id="show-data-size-map">
                    <input type="checkbox" name="show_data_size_map" checked><span class="label-text"><b>Show map</b></span>
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "views/common/header.html" %}

<!-- Pagination -->
{% with route = "/views/data-size-pages", elements = datastrip_events, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% if show["table_details"] %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#data-size-statistics">Statistics <span class="fa fa-angle-double-down"></span></a>      
      </h3>
    </div>
    <!-- /.panel-heading -->
    {% if datastrip_events|length > 0 %}
    <div class="panel-body panel-collapse collapse in" id="data-size-statistics">    
      <p>
        <b>The following table shows the statistics of the data volume per level</b>:
      </p>
      <table id="data-size-statistics-table" align="center" class="table table-striped table-bordered table-hover table-static">
        <tr>
          <th>Level</th>
          <th>Number of datastrips</th>
          <th>Sensing duration (m)</th>
          <th>Size (GB)</th>
          <th>Size per second (Mb/s)</th>
        </tr>
        {% set datastrips_by_level = datastrip_events|events_group_by_ref_group() %}
        {% set sensing_duration_in_s = datastrip_events | convert_eboa_events_to_date_segments | merge_timeline | get_timeline_duration_segments %}
        {% set size_in_bytes = datastrip_events|map(attribute="explicitRef")|refs_get_first_annotation("SIZE")|map(attribute="annotationDoubles")|flatten|selectattr("name", "equalto", "aggregated_size")|sum(attribute="value") %}
        <tr>
          <td class="highlight">ALL</td>
          <td>{{ datastrip_events|length }}</td>
          <td>{{ (sensing_duration_in_s / 60) |round(3) }}</td>
          <td>{{ (size_in_bytes / 1000 / 1000 / 1000) |round(3) }}</td>
          <td>{{ (((size_in_bytes / 1000 / 1000) * 8) / sensing_duration_in_s) |round(3) }}</td>
        </tr>
        {% for level in datastrips_by_level %}
        {% set sensing_duration_in_s = datastrips_by_level[level]|get_timeline_duration %}
        {% set size_in_bytes = datastrips_by_level[level]|map(attribute="explicitRef")|refs_get_first_annotation("SIZE")|map(attribute="annotationDoubles")|flatten|selectattr("name", "equalto", "aggregated_size")|sum(attribute="value") %}
        <tr>
          <td class="highlight">{{ level }}</td>
          <td>{{ datastrips_by_level[level]|length }}</td>
          <td>{{ (sensing_duration_in_s / 60) |round(3) }}</td>
          <td>{{ (size_in_bytes / 1000 / 1000 / 1000) |round(3) }}</td>
          <td>{{ (((size_in_bytes / 1000 / 1000) * 8) / sensing_duration_in_s) |round(3) }}</td>
        </tr>
        {% endfor %}
      </table>

      <p>
        <b>The following table shows the list of datastrips</b>:
      </p>
      <table id="data-size-datastrips-table" width="100%" class="table table-striped table-bordered table-hover table-search">
        <thead>
          <tr>
            <th>Datastrip</th>
            <th>Size (MB)</th>
            <th>Aggregated size (GB)</th>          
            <th>Size per second (Mb/s)</th>
            <th>Datatake</th>
            <th>Start</th>
            <th>Stop</th>          
            <th>Sensing duration (m)</th>
          </tr>
        </thead>
        <tbody>
          {% for datastrip in datastrip_events %}
          {% set size_annotation = datastrip.explicitRef.annotations|selectattr("annotationCnf.name", "equalto", "SIZE")|first %}
          {% set aggregated_size = "N/A" %}
          {% set size = "N/A" %}          
          {% if size_annotation %}
          {% set size = size_annotation.annotationDoubles|selectattr("name", "equalto", "size")|map(attribute="value")|first|float %}
          {% set aggregated_size = size_annotation.annotationDoubles|selectattr("name", "equalto", "aggregated_size")|map(attribute="value")|first|float %}          
          {% endif %}
          {% set sensing_duration_in_s = datastrip.get_duration() %}
          {% set datatake_annotation = datastrip.explicitRef.annotations|selectattr("annotationCnf.name", "equalto", "DATATAKE")|first %}
          {% set datatake = "N/A" %}
          {% if datatake_annotation %}
          {% set datatake = datatake_annotation.annotationTexts|selectattr("name", "equalto", "datatake_identifier")|map(attribute="value")|first %}
          {% endif %}

          <tr>
            <td><a href="/eboa_nav/query-er/{{ datastrip.explicitRef.explicit_ref_uuid }}">{{ datastrip.explicitRef.explicit_ref }}</a></td>
            {% if size_annotation %}
            <td>{{ (size / 1000 / 1000) |round(3) }}</td>
            <td>{{ (aggregated_size / 1000 / 1000 / 1000) |round(3) }}</td>
            <td>{{ (((aggregated_size / 1000 / 1000) * 8) / sensing_duration_in_s) |round(3) }}</td>
            {% else %}
            <td>{{ size }}</td>
            <td>{{ aggregated_size }}</td>
            <td>{{ aggregated_size }}</td>
            {% endif %}
            <td>{{ datatake }}</td>
            <td>{{ datastrip.start.isoformat() }}</td>
            <td>{{ datastrip.stop.isoformat() }}</td>
            <td>{{ (sensing_duration_in_s / 60) |round(3) }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Datastrip</th>
            <th>Size (MB)</th>
            <th>Aggregated size (MB)</th>          
            <th>Size per second (Mb/s)</th>
            <th>Datatake</th>
            <th>Start</th>
            <th>Stop</th>          
            <th>Sensing duration (m)</th>
          </tr>
        </tfoot>
      </table>
    </div>

    {% else %}
    <div>
      <br/>
      <p id="data-size-statistics-no-datastrips" style="text-indent: 1em">There are no datastrips acquired during the requested period.</p>
      <br/>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% if show["evolution"] %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#data-size-datastrips-on-map">Data size evolution <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    {% if datastrip_events|length > 0 %}
    <div class="panel-body panel-collapse collapse in" id="data-size-datastrips-on-map">
      <!-- /.panel-heading -->
      <p>
        <b>The following graph shows the evolution of the data volume starting from 0 GB</b>:
      </p>
      <div id="datastrips-data-volume-evolution">
      </div>
      <!-- <p> -->
      <!--   <b>The following graph shows the size of the datastrips over time</b>: -->
      <!-- </p> -->
      <!-- <div id="datastrips-datastrip-size-evolution"> -->
      <!-- </div> -->
      <!-- <p> -->
      <!--   <b>The following graph shows the data volume per second/per level</b>: -->
      <!-- </p> -->
      <!-- <div id="datastrips-data-volume-per-second-evolution"> -->
      <!-- </div> -->
    </div>
    {% else %}
    <div>
      <br/>
      <p id="data-size-map-no-datastrips" style="text-indent: 1em">There are no datastrips acquired during the requested period.</p>
      <br/>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% if show["map"] %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#data-size-datastrips-on-map">Sensing coverage on the map <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    {% if datastrip_events|length > 0 %}
    <div class="panel-body panel-collapse collapse in" id="data-size-datastrips-on-map">
      <!-- /.panel-heading -->
      <p>
        <b>The following map shows the footprint of the datastrips inside the requested period</b>:
      </p>
      <div id="datastrips-map">
      </div>
    </div>
    {% else %}
    <div>
      <br/>
      <p id="data-size-map-no-datastrips" style="text-indent: 1em">There are no datastrips acquired during the requested period.</p>
      <br/>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  {% include "js/data_size/data_size_functions.js" %}
  {% set datastrips_by_level = datastrip_events|events_group_by_ref_group() %}

  {% if show["evolution"] and datastrip_events|length > 0 %}
  {% with events = datastrip_events %}
  {% include "js/data_size/data_size_data_volume_evolution.js" %}
  {% endwith %}

  var groups = [];
  var items = [];
  var options = vboa.prepare_events_data_for_xy(data_volume_evolution, items, groups, "Data volume evolution (GB)");
  vboa.display_x_time("datastrips-data-volume-evolution", items, groups, options);
  {% endif %}  

  {% if show["map"] and datastrip_events|length > 0 %}
  {% with events = datastrips_by_level["L0_DS"] %}
  {% include "js/data_size/data_size_map.js" %}
  {% endwith %}
  var polygons = [];
  vboa.prepare_events_geometries_for_map(datastrip_geometries, polygons);
  vboa.display_map("datastrips-map", polygons);
  {% endif %}  
</script>
{% endblock %}
