{% set playback_validity_event_uuids = event.eventLinks|selectattr("name", "equalto", "PLAYBACK_VALIDITY")|map(attribute='event_uuid_link')|list %}
{% if playback_validity_event_uuids|length > 0 %}
{% set playback_validity_events = hktm_workflow_events["playback_validity"]|selectattr("event_uuid", "in", playback_validity_event_uuids)|list %}
{% set playback_validity_events_complete = playback_validity_events|filter_events_by_text_value("status", "COMPLETE")|list %}
{% set playback_validity_events_incomplete = playback_validity_events|filter_events_by_text_value("status", "INCOMPLETE")|list %}
{% if playback_validity_events_complete|length > 0 %}
{% do completeness_status.append("OK") %}
{% do completeness_status_class.append("bold-green") %}
{% elif playback_validity_events_incomplete|length > 0 %}
{% do completeness_status.append("NOK") %}
{% do completeness_status_class.append("bold-red") %}
{% endif %}
{% else %}
{% do completeness_status.append("N/A") %}
{% do completeness_status_class.append("") %}
{% endif %}
