<p style="font-size:14px;">
  <u><b>Status:</b></u><br/>
  - <b class="bold-green">OK</b>: HKTM was planned to be downloaded and has been acquired, completely distributed internally, produced and circulated to FOS<br/>
  - <b class="bold-red">MISSING CIRCULATION TO FOS</b>: HKTM was planned to be downloaded, acquired, produced but not circulated to FOS yet<br/>
  - <b class="bold-red">MISSING PRODUCTION</b>: HKTM was planned to be downloaded, acquired but not produced yet<br/>
  - <b class="bold-red">PENDING ACQUISITION</b>: HKTM was planned to be downloaded, but there is missing information yet from the PDGS about the acquisition<br/>
  - <b class="bold-red">MISSED ACQUISITION</b>: HKTM was planned to be downloaded, the DFEP has reported missing information for the playback, the production is missing and the station has reported NOK for the pass (the pass has been lost due to a problem on the satellite/antenna/DFEP chain)<br/>  
  - <b class="bold-red">MISSING DATA FROM SATELLITE</b>: HKTM was planned to be downloaded, the DFEP has reported missing information for the playback and the production is missing (there has been a problem on the satellite/antenna/DFEP chain)<br/>
  - <b class="bold-orange">HKTM PLAYBACK NOT PLANNED</b>: HKTM was not planned to be downloaded<br/>
  <u><b>Completeness status:</b></u><br/>
  - <b class="bold-green">OK</b>: HKTM was completely processed before distribution<br/>
  - <b class="bold-green">RECOVERED</b>: HKTM was not completely processed before distribution at the first time but then the issue has been recovered<br/>
  - <b class="bold-orange">N/A</b>: There is missing information from PDGS regarding the reception of the HKTM<br/>
  - <b class="bold-orange">HKTM PLAYBACK NOT PLANNED</b>: HKTM was not planned to be downloaded<br/>
  - <b class="bold-red">NOK</b>: HKTM was not completely processed before distribution<br/>
  <u><b>PDMC-FOS time:</b></u> time when the product arrived to FOS pickup point<br/>
  <u><b>Time delivery to FOS (min.):</b></u> delay from ANX time to the time when the product arrived to FOS pickup point. <span class="bold-red">Value in red</span> if it exceeds 60 minutes<br/>
  <u><b>Comments:</b></u> associated comments to the playback by the station operators when available<br/>
</p>
