<!-- Summary -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#summary-hktm-workflow">HKTM workflow status summary <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="summary-hktm-workflow">
      {% if hktm_workflow_events["playback"]|length > 0 %}
      <div class="row">
        <!-- Pie chart for processing status -->
        <div class="col-xs-3">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center" style="font-size: 20px">Status of processing</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: steelblue"><canvas id="hktm-workflow-pie-processing-status" width="400" height="300"></canvas></div>
          </div>
        </div>
        <!-- Pie chart for distribution status -->
        <div class="col-xs-3">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center" style="font-size: 20px">Status of distribution</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: steelblue"><canvas id="hktm-workflow-pie-distribution-status" width="400" height="300"></canvas></div>
          </div>
        </div>
      </div>
      {% if hktm_circulated_to_fos|length > 0 %}
      <div class="row">
        <!-- Dissemination delay evolution chart -->
        <div class="col-xs-6">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center" style="font-size: 20px">Evolution of the dissemination delay from ANX time</div>
            <div class="panel-body" align="center" id="hktm-workflow-dissemination-evolution"></div>
          </div>
        </div>
        <!-- Product size -->
        <div class="col-xs-6">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center" style="font-size: 20px">Evolution of the HKTM product size</div>
            <div class="panel-body" align="center" id="hktm-product-size-evolution"></div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}
      <div class="row">
        <div class="col-xs-3">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center" style="font-size: 20px">Number of expected HKTM products</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: steelblue" id="summary-hktm-workflow-expected">{{ hktm_workflow_events["playback"]|length }}</div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="font-size: 20px">Number of generated HKTM products</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: green" id="summary-hktm-workflow-generated">{{ hktm_workflow_events["playback"]|length - missing_hktm_production_vgs|length }}</div>
          </div>
        </div>
        {% if missing_hktm_production_vgs|length > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Number of missing HKTM products</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-hktm-workflow-missing-production">{{ missing_hktm_production_vgs|length }}</div>
          </div>
        </div>
        {% endif %}
        {% if missing_hktm_circulation_to_fos|length > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Number of missing HKTM circulations to FOS</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-hktm-workflow-missing-circulation">{{ missing_hktm_circulation_to_fos|length }}</div>
          </div>
        </div>
        {% endif %}
        {% if missing_hktm_production_data_not_received_from_pdgs|length > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-warning">
            <div class="panel-heading" align="center" style="font-size: 20px">Number of missing HKTM, data not received from PDGS</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: gold" id="summary-hktm-workflow-missing-data-pdgs">{{ missing_hktm_production_data_not_received_from_pdgs|length }}</div>
          </div>
        </div>
        {% endif %}
        {% if missing_hktm_production_data_not_received_from_satellite|length > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-warning">
            <div class="panel-heading" align="center" style="font-size: 20px">Number of missing HKTM, data not received from Satellite</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: gold" id="summary-hktm-workflow-missing-data-satellite">{{ missing_hktm_production_data_not_received_from_satellite|length }}</div>
          </div>
        </div>
        {% endif %}
        {% if missing_hktm_production_data_received|length > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-warning">
            <div class="panel-heading" align="center" style="font-size: 20px">Number of missing HKTM, data received by PDGS</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: gold" id="summary-missing-hktm-production-data-received">{{ missing_hktm_production_data_received|length }}</div>
          </div>
        </div>
        {% endif %}
        {% if hktm_incompletely_distributed|length > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-warning">
            <div class="panel-heading" align="center" style="font-size: 20px">Number of HKTM incompletely distributed</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: gold" id="summary-hktm-incompletely-distributed">{{ hktm_incompletely_distributed|length }}</div>
          </div>
        </div>
        {% endif %}
      </div>        
    </div>
  </div>
</div>
