{% extends "panel/index.html" %}

<!-- Missing HKTM products -->
{% set missing_hktm_production_vgs = hktm_workflow_events["playback"]|reject_events_with_link_name("HKTM_PRODUCTION_VGS")|list %}

<!-- Missing HKTM products, data not received from PDGS -->
{% set missing_hktm_production_data_not_received_from_pdgs = hktm_workflow_events["playback"]|reject_events_with_link_name("DFEP_ACQUISITION_VALIDITY")|reject_events_with_link_name("PLAYBACK_VALIDITY")|reject_events_with_link_name("HKTM_PRODUCTION_VGS")|list %}

<!-- Missing HKTM products, data not received from satellite -->
{% set missing_hktm_production_data_not_received_from_satellite = hktm_workflow_events["playback"]|filter_events_with_link_name("DFEP_ACQUISITION_VALIDITY")|reject_events_with_link_name("PLAYBACK_VALIDITY")|reject_events_with_link_name("HKTM_PRODUCTION_VGS")|list %}

<!-- Missing HKTM products, PDGS did not generate production but data was received -->
{% set missing_hktm_production_data_received = hktm_workflow_events["playback"]|filter_events_with_link_name("DFEP_ACQUISITION_VALIDITY")|filter_events_with_link_name("PLAYBACK_VALIDITY")|reject_events_with_link_name("HKTM_PRODUCTION_VGS")|list %}

<!-- Missing HKTM circulation to FOS -->
{% set missing_hktm_circulation_to_fos = hktm_workflow_events["hktm_production_vgs"]|map(attribute="explicitRef")|unique|list|reject_references_by_annotation_text_value("CIRCULATION_TIME", "destination", "FOS_")|list %}

<!-- Incompletely distributed -->
{% set hktm_incompletely_distributed = hktm_workflow_events["distribution_status"]|filter_events_by_text_value("completeness_status", "NOK")|list %}

<!-- HKTM circulation to FOS -->
{% set hktm_circulated_to_fos = hktm_workflow_events["hktm_production_vgs"]|map(attribute="explicitRef")|unique|list|filter_references_by_annotation_text_value("CIRCULATION_TIME", "destination", "FOS_")|list %}

{% block content %}
{% set status = "UNKNOWN" %}
<div class="row">
  <h1 class="page-header">Specific HKTM Workflow Status view for the planned playback with UUID {{ hktm_workflow_events["playback"][0].event_uuid }}</h1>
</div>
<!-- /.row -->
{% include "views/hktm_workflow/hktm_workflow_query.html" %}

<!-- Pagination -->
{% with route = "/views/hktm-workflow-pages", elements = orbpre_events_limit, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% include "views/hktm_workflow/hktm_workflow_summary_content.html" %}
{% if orbpre_events_limit|length > 0 %}
{% include "views/hktm_workflow/hktm_workflow_timeliness.html" %}
{% include "views/hktm_workflow/hktm_workflow_issues_content.html" %}
{% endif %}

{% include "views/hktm_workflow/hktm_workflow_content.html" %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% include "views/hktm_workflow/hktm_workflow_scripts.html" %}
{% endblock %}
